// SECTION kanban :: START

mixin kanbanBoxHead(guaranteeMod, calendarCheck, indicationClassMod, name)
  .kanban__box-head
    p.kanban__box-name!= name
    p.kanban__box-position Marketing Manager
    p.kanban__box-email haley.kristy@gmail.com

    .kanban__box-cv
      i.icon-font.icon-cv

mixin kanbanBoxList()
  ul.kanban__box-list.kanban__box-list--referrer
    li.kanban__box-list-item
      div
        .kanban__box-list-main
          div
            i.icon-font.icon-case
          div
            p Job:
      div
        .kanban__box-list-result
          span Chief Financial Officer
    li.kanban__box-list-item
      div
        .kanban__box-list-main
          div
            i.icon-font.icon-user
          div
            p Employer:
      div
        .kanban__box-list-result
          span Gordon Torres
    li.kanban__box-list-item
      div
        .kanban__box-list-main
          div
            i.icon-font.icon-cup
          div
            p Potential Reward:
      div
        .kanban__box-list-result
          span $2,000

mixin kanbanBoxGuarantee(guaranteeMod, indicationClassMod)
  mixin kanbanBoxGuaranteeContent()
    .kanban__box-guarantee-head
      span
        i.icon-font.icon-timer
      p Placement guarantee:
    .kanban__box-guarantee-body
      ul.kanban__box-list
        li.kanban__box-list-item
          div
            .kanban__box-list-main
              div
                i.icon-font.icon-flag
              div
                p Started:
          div
            .kanban__box-list-result
              span 02/10/2019
        li.kanban__box-list-item
          div
            .kanban__box-list-main
              div
                i.icon-font.icon-calendar-check
              div
                p Will end:
          div
            .kanban__box-list-result
              span 04/12/2019

      .kanban__box-guarantee-progress
        i(style='width: 50%;')
        p 49 days left

  .kanban__box-guarantee(class!= (guaranteeMod)?'is-active':'' popup-placementGuarantee-js data-effect="mfp-zoom-in" data-mfp-src="#managePlacementGuarantee")
    +kanbanBoxGuaranteeContent()

mixin kanbanBoxPrefooter(classMod, name)
  .kanban__box-prefooter.kanban__box-prefooter--referrer
    div
      .kanban__box-date
        i.icon-font.icon-date
        p Referred on 02/10/2019

      if(classMod === 'confirmation')
        .kanban__box-date.kanban__box-date--confirmation
          i.icon-font.icon-calendar-check
          p Must be confirmed by 02/10/2019
      else if(classMod === 'employer')
        .kanban__box-date.kanban__box-date--employer
          i.icon-font.icon-date
          p Sent to employer on 02/10/2019
      else if(classMod === 'shortlisted')
        .kanban__box-date.kanban__box-date--shortlisted
          i.icon-font.icon-date
          p Shortlisted on 02/10/2019
      else if(classMod === 'assessment')
        .kanban__box-date.kanban__box-date--assessment
          i.icon-font.icon-date
          p In assessment since 02/10/2019
      else if(classMod === 'offered')
        .kanban__box-date.kanban__box-date--offered
          i.icon-font.icon-date
          p Job offered on 02/10/2019
      else if(classMod === 'hired')
        .kanban__box-date.kanban__box-date--hired
          i.icon-font.icon-calendar-check
          p Hired on 12/10/2019
      else if(classMod === 'rejected')
        .kanban__box-date.kanban__box-date--rejected
          i.icon-font.icon-date
          p Rejected on 15/11/2019
        .kanban__box-date.kanban__box-date--rejected
          i.icon-font.icon-comment-delete
          p Reason: Not relevant

    div
      span(data-id='1' popup-js data-effect="mfp-zoom-in" data-mfp-src="#kanbanMore")
        i.icon-font.icon-more

mixin kanabnContent(classMod, badge, calendarCheck, guaranteeMod, indicationClassMod, name)
  +kanbanBoxHead(guaranteeMod, calendarCheck, indicationClassMod, name)

  .kanban__box-body
    +kanbanBoxList()
    +kanbanBoxGuarantee(guaranteeMod)

  +kanbanBoxPrefooter(classMod, name)

mixin kanbanBox(classMod, badge, calendarCheck, guaranteeMod, indicationClassMod, name)
  a.kanban__box(href!='#' title='' class!= (classMod)?'kanban__box--' + classMod:'')
    +kanabnContent(classMod, badge, calendarCheck, guaranteeMod, indicationClassMod, name)


.kanban__wrapper-body(kanban-body-js)

  .kanban__box-wrapper.kanban__box-wrapper-0
    .kanban__title-wrapper
      p.kanban__title Awaiting Candidate Confirmation
      .kanban__title-indication 3

    .kanban__box-cover
      .kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('confirmation','','','','','Theodore Wilkerson')
        +kanbanBox('confirmation','','','','','Rebecca Park')
        +kanbanBox('confirmation','','','','','Cornelia Wallace')

  .kanban__box-wrapper.kanban__box-wrapper-1
    .kanban__title-wrapper
      p.kanban__title Sent to Employer
      .kanban__title-indication 2

    .kanban__box-cover
      .kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('employer','','','','','Winnie Perkins')
        +kanbanBox('employer','','','','','Winnie Perkins')

  .kanban__box-wrapper.kanban__box-wrapper-2
    .kanban__title-wrapper
      p.kanban__title Shortlisted
      .kanban__title-indication 1

    .kanban__box-cover
      .kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('shortlisted','','','','','Matilda Hernandez')

  .kanban__box-wrapper.kanban__box-wrapper-3
    .kanban__title-wrapper
      p.kanban__title Interviews / Assessment
      .kanban__title-indication 1

    .kanban__box-cover
      .kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('assessment','','','','','Nina Moran')

  .kanban__box-wrapper.kanban__box-wrapper-4
    .kanban__title-wrapper
      p.kanban__title Job Offer
      .kanban__title-indication 1

    .kanban__box-cover
      div.kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('offered','','','','','Alberta Francis')

  .kanban__box-wrapper.kanban__box-wrapper-5
    .kanban__title-wrapper
      p.kanban__title Placement Guarantee
      .kanban__title-indication 1

    .kanban__box-cover
      div.kanban--guarantee.kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('offered', '', '', 'true', '','Sophia Padilla')

  .kanban__box-wrapper.kanban__box-wrapper-6
    .kanban__title-wrapper
      p.kanban__title Hired
      .kanban__title-indication 1

    .kanban__box-cover
      div.kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('hired', '', '', '','','Nora Bryan')

  .kanban__box-wrapper.kanban__box-wrapper-7
    .kanban__title-wrapper
      p.kanban__title Rejected
      .kanban__title-indication 1

    .kanban__box-cover
      div.kanban__box-row(sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('rejected', '', '', '','','Daniel Robertson')

// SECTION kanban :: END
