&-with {
  padding-top: 100px;
  padding-bottom: 100px;
  @include adaptive(767) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    padding-bottom: 20px;
  }

  &__line {
    width: 100%;
    max-width: 60px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #29DE9C;
    @include adaptive(767) {
      max-width: 50px;
    }
  }

  &__desc {
    padding-bottom: 40px;
    font-weight: normal;
    font-size: 20px;
    color: #344563;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 30px;
    @include adaptive(1279) {
      font-size: 18px;
    }
    @include adaptive(767) {
      font-size: 16px;
    }
  }

  &__slider {
    position: relative;
    @include adaptive(767) {
      overflow: hidden;
      position: relative;
      left: -15px;
      width: calc(100% + 30px);
    }

    &-wrapper {
      width: 100%;
      max-width: 920px;
      margin-left: auto;
      margin-right: auto;
      @include adaptive(1023) {
        padding-left: 50px;
        padding-right: 50px;
      }
      @include adaptive(767) {
        position: relative;
        left: -50px;
        width: calc(100% + 100px);
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-btn {
      z-index: 5;
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transform: translateY(-50%);
      background-color: #FFFFFF;
      border: 1px solid rgba(103,104,236,0.60);
      box-shadow: 0 5px 20px 0 rgba(135,131,157,0.15);
      @include adaptive(767) {
        display: none;
      }

      &--prev {
        left: 0;

        .icon-font {
          transform: rotate(-180deg);
        }
      }

      &--next {
        right: 0;
      }

      .icon-font {
        color: #6768ec;
      }
    }
  }

  .swiper {
    &-wrapper {
      align-items: center;
    }

    &-slide {
      @include adaptive(767) {
        padding-left: 15px;
        padding-right: 15px;
        filter: grayscale(1);
        @include transition(filter);

        &-active {
          filter: grayscale(0);
          @include transition(filter);
        }
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
