&-works {
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: linear-gradient(14deg, rgba(0,170,255,0.20) 1%, rgba(40,215,204,0.10) 100%);
  @include adaptive(767) {
    padding-top: 50px;
  }

  &.retouch-works--subscribe {
    .retouch-works {
      &__desc {
        max-width: 980px;
      }

      &__wrapper {
        align-items: flex-start;

        > div {
          &:nth-of-type(1),
          &:nth-of-type(2) {
            padding-bottom: 80px;
          }
        }
      }

      &__block {
        &-image {
          display: flex;
          align-items: flex-end;
          min-height: 366px;
          @include adaptive(767) {
            min-height: unset;
          }
        }

        &-content {
          top: 0;
          padding-top: 30px;
        }
      }
    }
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    span {
      position: absolute;
      border-radius: 50%;

      &:nth-of-type(1) {
        top: -100px;
        right: -50px;
        width: 500px;
        height: 500px;
        border: 50px solid rgba(0,199,230,0.05);
      }

      &:nth-of-type(2) {
        left: -100px;
        bottom: 50px;
        width: 450px;
        height: 450px;
        border: 150px solid rgba(0,199,230,0.10);
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    > div {
      width: 50%;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      @include adaptive(767) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 75px;
      }
    }
  }

  &__title {
    padding-bottom: 20px;
  }

  &__line {
    width: 100%;
    max-width: 60px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #29DE9C;
    @include adaptive(767) {
      max-width: 50px;
    }
  }

  &__desc {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    font-weight: normal;
    font-size: 20px;
    color: #344563;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 30px;
    @include adaptive(1279) {
      font-size: 18px;
    }
    @include adaptive(767) {
      font-size: 16px;
    }
  }

  &__block {
    &-image {
      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-content {
      position: relative;
      top: -30px;
      @include adaptive(767) {
        top: 0;
      }
    }

    &-num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      border-radius: 50%;
      box-shadow: 0 10px 20px 0 rgba(157,157,191,0.10);
      background-image: linear-gradient(12deg, #00AAFF 0%, #28D7CC 100%);

      span {
        font-weight: 800;
        font-size: 19px;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-align: center;
        line-height: 28px;
      }
    }

    &-title,
    &-desc {
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &-title {
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 22px;
      color: #091E42;
      @include adaptive(1279) {
        font-size: 20px;
      }
      @include adaptive(767) {
        font-size: 18px;
      }
    }

    &-desc {
      font-weight: normal;
      font-size: 18px;
      color: #344563;
      line-height: 28px;
      @include adaptive(1279) {
        font-size: 16px;
      }
      @include adaptive(767) {
        font-size: 14px;
      }
    }
  }
}
