// SECTION :: START

.retouch {
  @import "retouch--main";
  @import "retouch--benefits";
  @import "retouch--works";
  @import "retouch--with";
  @import "retouch--geography";
  @import "retouch--convinced";
  @import "retouch--learn";
  @import "retouch--pricing";
}

@keyframes animateLinkCorner {
  0% {
    transform: rotate(90deg) translateX(10px);
  }
  50% {
    transform: rotate(90deg) translateX(0px);
  }
  100% {
    transform: rotate(90deg) translateX(10px);
  }
}

// SECTION :: END
