&-convinced {
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(194deg, #6768EC 0%, #C5C5FF 99%);
  @include adaptive(767) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    span {
      position: absolute;
      border-radius: 50%;

      &:nth-of-type(1) {
        top: -30px;
        left: -150px;
        width: 500px;
        height: 500px;
        border: 50px solid rgba(255,255,255,0.15);
      }

      &:nth-of-type(2) {
        right: -50px;
        bottom: -150px;
        width: 450px;
        height: 450px;
        border: 150px solid rgba(255,255,255,0.15);
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }

  &__title {
    padding-bottom: 30px;
    @include adaptive(767) {
      padding-bottom: 20px;
    }
  }

  &__line {
    width: 100%;
    max-width: 60px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    background-color: #29DE9C;
    @include adaptive(767) {
      max-width: 50px;
      margin-bottom: 40px;
    }
  }

  .advantages__block {
    @include adaptive(767) {
      padding: 30px 25px 30px 35px;
      margin-bottom: 30px;
    }

    &-wrapper {
      max-width: 1040px;
    }

    &-img {
      margin-left: 0;
    }

    &-title,
    &-desc {
      text-align: left;
    }
  }
}
