// SECTION :: START

section#ref-benefits.ref-benefits
  .c-grid
    .ref-benefits__wrapper

      .ref-benefits__box-wrapper
        div
          .ref-benefits__box
            .ref-benefits__box-bg
            .ref-benefits__box-head
              .ref-benefits__box-circle
            .ref-benefits__box-body
              p.ref-benefits__box-title Received Referrals
              p.ref-benefits__box-description Manage all the referrals that your jobs received
              a.ref-benefits__box-btn(href="#") View

        div
          .ref-benefits__box
            .ref-benefits__box-bg
            .ref-benefits__box-head
              .ref-benefits__box-circle
            .ref-benefits__box-body
              p.ref-benefits__box-title Transaction History
              p.ref-benefits__box-description See all monetary transactions of your account
              a.ref-benefits__box-btn(href="#") View

        div
          .ref-benefits__box
            .ref-benefits__box-bg
            .ref-benefits__box-head
              .ref-benefits__box-circle
            .ref-benefits__box-body
              p.ref-benefits__box-title Placement Guarantees
              p.ref-benefits__box-description Manage all your current placement guarantees
              a.ref-benefits__box-btn(href="#") View

// SECTION :: END
