// SECTION main :: START

section#ref-main.ref-main
  .c-grid-fluid

    .ref-main__wrapper

      .ref-main__wrapper-bg
        span(parallax-js data-stellar-ratio="1.2")
        span(parallax-js data-stellar-ratio="0.85")

      .ref-main__wrapper-content
        div

          .ref-main__profile
            .ref-main__profile-right
              p.ref-main__profile-name Hello, Clemens!
              p.ref-main__profile-info You last logged in on 01/10/2019

        div

          .ref-main__badge-wrapper
            .ref-main__badge
              div
                p!= "Current Earnings <span>$290</span>"
              div
                p!= "In Transfer <span>$130</span>"

        div
          a.ref-main__btn.ref-main__btn--account(href="#")
            span My Account
            i.icon-font.icon-settings


// SECTION main :: END
