// SECTION :: START

mixin jobCard(badgeBool)
  a.board-card__block(href="#")
    .board-card__block-body

      if(badgeBool === true)
        .board-card__block-badge-wrapper
          .board-card__block-badge
            i.icon-font.icon-bell-alert
            p Urgent

      .board-card__block-title
        div
          p Chief Financial Officer Thermal Power Plant
        div
          .board-card__block-logo
            img(src="img/engie-logo.png" alt="")

      p.board-card__block-subtitle Engie

      ul.board-card__block-list
        li.board-card__block-list-item
          div
            i.icon-font.icon-pin
          div
            p Ras Laffan, Qatar
        li.board-card__block-list-item
          div
            i.icon-font.icon-wallet
          div
            p QAR 50,000 to QAR 55,000 per month

    .board-card__block-footer
      p!= "Reward <strong>$4,800</strong>"

section#ref-jobs.ref-jobs
  .c-grid

    h2.ref-jobs__title Urgent Jobs

    .ref-jobs__wrapper

      .ref-jobs__slider

        mixin swiperContent()
          .swiper-slide
            +jobCard(true)
          .swiper-slide
            +jobCard(false)
          .swiper-slide
            +jobCard(true)
          .swiper-slide
            +jobCard(false)
          .swiper-slide
            +jobCard(false)
          .swiper-slide
            +jobCard(false)
          .swiper-slide
            +jobCard(true)

        +swiper('dashboardJob', 'swiperContent', false, false, false)

        .ref-jobs__slider-btn-wrapper
          a.ref-jobs__slider-btn.ref-jobs__slider-btn--prev(href="#")
            i.icon-font.icon-corner
          a.ref-jobs__slider-btn.ref-jobs__slider-btn--next(href="#")
            i.icon-font.icon-corner

// SECTION :: END
