// SECTION kanban :: START

mixin kanbanBoxBadge(badge)
  if(badge)
    .kanban__box-badge
      p recommended

mixin kanbanBoxHead(guaranteeMod, calendarCheck, indicationClassMod, name)
  .kanban__box-head
    .kanban__box-indication(class!='kanban__box-indication--' + indicationClassMod)
    p.kanban__box-name!= name
    p.kanban__box-position Marketing Manager

    .kanban__box-cv
      i.icon-font.icon-cv

    if(guaranteeMod)
      .kanban__box-like(class!=(guaranteeMod)?'is-hide' : '')
        i.icon-font.icon-thumbs-up
    else if(calendarCheck)
      .kanban__box-like(class!=(calendarCheck)?'is-hide':'' popup-js data-effect="mfp-zoom-in" data-mfp-src="#kanbanThumbs")
        i.icon-font.icon-thumbs-up
    else
      .kanban__box-like(popup-js data-effect="mfp-zoom-in" data-mfp-src="#kanbanThumbs")
        i.icon-font.icon-thumbs-up

mixin kanbanBoxList()
  ul.kanban__box-list
    li.kanban__box-list-item
      div
        .kanban__box-list-main
          div
            i.icon-font.icon-experience
          div
            p Experience:
      div
        .kanban__box-list-result
          span 20 years
    li.kanban__box-list-item
      div
        .kanban__box-list-main
          div
            i.icon-font.icon-building
          div
            p Industry:
      div
        .kanban__box-list-result.kanban__box-list-result--bg
          span Energy and Power
    li.kanban__box-list-item
      div
        .kanban__box-list-main
          div
            i.icon-font.icon-wallet
          div
            p Salary:
      div
        .kanban__box-list-result
          span QAR 12,000

mixin kanbanBoxGuarantee(guaranteeMod, indicationClassMod)
  mixin kanbanBoxGuaranteeContent()
    .kanban__box-guarantee-head
      span
        i.icon-font.icon-timer
      p Placement guarantee:
    .kanban__box-guarantee-body
      ul.kanban__box-list
        li.kanban__box-list-item
          div
            .kanban__box-list-main
              div
                i.icon-font.icon-flag
              div
                p Started:
          div
            .kanban__box-list-result
              span 02/10/2019
        li.kanban__box-list-item
          div
            .kanban__box-list-main
              div
                i.icon-font.icon-calendar-check
              div
                p Will end:
          div
            .kanban__box-list-result
              span 04/12/2019

      .kanban__box-guarantee-progress
        i(style='width: 50%;')
        p 49 days left

  .kanban__box-guarantee(class!= (guaranteeMod)?'is-active':'' popup-placementGuarantee-js data-effect="mfp-zoom-in" data-mfp-src="#managePlacementGuarantee")
    +kanbanBoxGuaranteeContent()

mixin kanbanBoxPrefooter(calendarCheck, name)
  .kanban__box-prefooter
    div
      .kanban__box-date
        i.icon-font.icon-date
        p Referred on 02/10/2019
      if(calendarCheck)
        .kanban__box-date.kanban__box-date--hired
          i.icon-font.icon-calendar-check
          p Hired on 12/10/2019

      if(name === 'Emily Welch' || name === 'Tony Duncan')
        .kanban__box-date.kanban__box-date--shortlisted
          i.icon-font.icon-date
          p Shortlisted on 02/10/2019
      else if(name === 'Kevin Brock')
        .kanban__box-date.kanban__box-date--assessment
          i.icon-font.icon-date
          p In assessment since 02/10/2019
      else if(name === 'Ellen Weber' || name === 'Harvey Wilkerson' || name === 'Gordon Chandler')
        .kanban__box-date.kanban__box-date--offered
          i.icon-font.icon-date
          p Job offered on 02/10/2019

    div
      span(data-id='1' popup-js data-effect="mfp-zoom-in" data-mfp-src="#kanbanMore")
        i.icon-font.icon-more

mixin kanbanBoxFooter(badge)
  .kanban__box-footer
    div
      p
        i.icon-font.icon-chat
      if(badge)
        span Lorem ipsum dolor sitamet persius nominavi te eam
      else
        span Click to leave a comment

mixin kanabnContent(badge, calendarCheck, guaranteeMod, indicationClassMod, name)
  +kanbanBoxBadge(badge)
  +kanbanBoxHead(guaranteeMod, calendarCheck, indicationClassMod, name)

  .kanban__box-body
    +kanbanBoxList()
    +kanbanBoxGuarantee(guaranteeMod)

  +kanbanBoxPrefooter(calendarCheck, name)
  +kanbanBoxFooter(badge)

mixin kanbanBox(classMod, badge, calendarCheck, guaranteeMod, indicationClassMod, name)
  a.kanban__box(href!='#' title='' class!= (classMod)?'kanban__box--' + classMod:'')
    +kanabnContent(badge, calendarCheck, guaranteeMod, indicationClassMod, name)


.kanban__wrapper-body(kanban-body-js)

  .kanban__box-wrapper.kanban__box-wrapper-0
    .kanban__title-wrapper
      p.kanban__title Received
      .kanban__title-indication 3

    .kanban__box-cover
      div.kanban__box-row(kanban-received-js sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('draggable','','','','','Jordan McBride')
        +kanbanBox('draggable','','','','away','Rodney Johnson')
        +kanbanBox('draggable','','','','disturb','Cecilia Yates')

  .kanban__box-wrapper.kanban__box-wrapper-1
    .kanban__title-wrapper
      p.kanban__title Shortlisted
      .kanban__title-indication 2

    .kanban__box-cover
      div.kanban__box-row(kanban-shortlisted-js sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('badge kanban__box--draggable', true, '','','','Emily Welch')
        +kanbanBox('draggable','','','','away','Tony Duncan')

  .kanban__box-wrapper.kanban__box-wrapper-2
    .kanban__title-wrapper
      p.kanban__title Interviews / Assessment
      .kanban__title-indication 1

    .kanban__box-cover
      div.kanban__box-row(kanban-assessment-js sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('draggable','','','','away','Kevin Brock')

  .kanban__box-wrapper.kanban__box-wrapper-3
    .kanban__title-wrapper
      p.kanban__title Job Offer
      .kanban__title-indication 2

    .kanban__box-cover
      div.kanban__box-row(kanban-offer-js sortable-box-js)
        .kanban__box-overlay
        +kanbanBox('draggable','','','','away','Ellen Weber')
        +kanbanBox('draggable','','','','away','Harvey Wilkerson')

  .kanban__box-wrapper.kanban__box-wrapper-4
    .kanban__title-wrapper
      p.kanban__title Placement Guarantee
      .kanban__title-indication 2

    .kanban__box-cover
      div.kanban--guarantee.kanban__box-row(kanban-placement-js sortable-box-js)
        .kanban__box-overlay
        input(type='hidden' id='btnStartPlacementGuarantee' name='' popup-guarantee-js data-effect="mfp-zoom-in" data-mfp-src="#startPlacementGuarantee")
        +kanbanBox('guarantee', '', '', true, 'disturb','Gordon Chandler')
        +kanbanBox('guarantee', '', '', true, '','Harvey Wilkerson')

  .kanban__box-wrapper.kanban__box-wrapper-5
    .kanban__title-wrapper
      p.kanban__title Hired
      .kanban__title-indication 1

    .kanban__box-cover
      div.kanban__box-row(kanban-hired-js)
        .kanban__box-overlay
        +kanbanBox('', '', true, '','','Tom Fox')

// SECTION kanban :: END
