// MODAL request a demo :: START

mixin modalContent()
  .c-modal__head

    ul.c-modal__information
      li
        div
          i.icon-font.icon-mail
        div
          p brendan.haley@lang.us
      li
        div
          i.icon-font.icon-call-calling
        div
          p 510-130-6827

  .c-modal__body

    ul.c-modal__description
      li
        div
          span Highest degree
        div
          p Lorem ipsum dolor
      li
        div
          span Current residence
        div
          p Lorem ipsum dolor
      li
        div
          span Certification & diplomas
        div
          p Lorem ipsum dolor
      li
        div
          span Career level
        div
          p Lorem ipsum dolor
      li
        div
          span Job Function
        div
          p Lorem ipsum dolor
      li
        div
          span Employer
        div
          p Lorem ipsum dolor
      li
        div
          span Languages known
        div
          p Lorem ipsum dolor
      li
        div
          span Skills
        div
          p Lorem ipsum dolor

  .c-modal__prefooter

    .c-modal__question-wrapper
      .c-modal__question-head
        div
          .c-modal__question Q
        div
          p How many years of experience does your referral have?
        div
          i.icon-font.icon-chevron-bottom
      .c-modal__question-body
        .c-modal__question-answer
          div
            .c-modal__question
              span A
          div
            span My referral has 14 years of experience.

    .c-modal__question-wrapper
      .c-modal__question-head
        div
          .c-modal__question Q
        div
          p How many years of experience does your referral have?
        div
          i.icon-font.icon-chevron-bottom
      .c-modal__question-body
        .c-modal__question-answer
          div
            .c-modal__question
              span A
          div
            span My referral has 14 years of experience.

  .c-modal__footer

    .c-modal__question-wrapper.c-modal__question-wrapper--additional
      .c-modal__question-head
        div
        div
          p Anything else the employer should know?
        div
          i.icon-font.icon-chevron-bottom
      .c-modal__question-body
        .c-modal__question-answer
          div
            .c-modal__question.c-modal__question--warrning
              span !
          div
            span My referral has 14 years of experience.


+modal('kanbanMore', 'modalContent')

// MODAL request a demo :: END