// MODAL request a demo :: START

mixin modalContent()
  .c-modal__head
    p Manage Placement Guarantee

  .c-modal__body

    .c-modal__content

      .c-modal__desc-wrapper
        p.c-modal__desc Your request for placement guarantee termination has been filed and is under review. We will be in touch shortly.

+modal('terminateSubmitPlacementGuarantee', 'modalContent')

// MODAL request a demo :: END