// MODAL request a demo :: START

mixin modalContent()
  .c-modal__head
    p Placement Guarantee Released

  .c-modal__body

    .c-modal__content

      p.c-modal__title Thank you!

      .c-modal__desc-wrapper
        p.c-modal__desc The escrowed reward is on the way to the referrer.

+modal('releaseSubmitPlacementGuarantee', 'modalContent')

// MODAL request a demo :: END