// SECTION board details :: START

section#board-details.board-details

  .board-details__heading.board-details__heading--relative
    .board-details__head
      .board-details__head-left

        .board-details__logo
          img(src="img/engie-logo.png" alt="")

      .board-details__head-middle

        p.board-details__title Chief Financial Officer Thermal Power Plant
        p.board-details__subtitle Engie
        ul.board-card__block-list
          li.board-card__block-list-item
            div
              i.icon-font.icon-pin
            div
              p Ras Laffan, Qatar
          li.board-card__block-list-item
            div
              i.icon-font.icon-wallet
            div
              p QAR 50,000 to QAR 55,000 per month

      .board-details__head-right

  .board-details__body
    .board-details__list
      li
        div
          p Industry:
        div
          .board-details__industry
            i Energy and Power
      li
        div
          p Degree:
        div
          span Bachelor
      li
        div
          p Job Type:
        div
          span Full-time (unlimited)
      li
        div
          p Career Level:
        div
          span C Level
      li
        div
          p Languages:
        div
          span English
      li
        div
          p Skills Required:
        div
          .board-details__skills
            i Budgetting
            i Finance
            i Corporate Finance
      li
        div
          p Change to Regular:
        div


    .board-details__info
      div
        p Job Description
        span Lorem ipsum dolor sit amet, his ex falli virtute. Stet posse convenire mea cu, minimum apeirian consequuntur ad his, rebum delenit molestiae et eum. Ridens deserunt ea cum. Odio malis his ea, feugait
      div
        p Additional Requirements / Certifications
        span Lorem ipsum dolor sit amet, his ex falli virtute. Stet posse convenire mea cu, minimum apeirian consequuntur ad his, rebum delenit molestiae et eum. Ridens deserunt ea cum. Odio malis his ea, feugait

// SECTION board details :: END
