// MODAL :: START

mixin modalContent()
  .c-modal__header
    .c-modal__header-bg
      span

    p Add Skill

  .c-modal__body

    .c-modal__body-content
      form#skillsForm(action='' name='' autocomplete='off')
        .posting__form-field
          .posting__form-input
            input(type='text' name='add_skills' id='posting_new_skill' placeholder='Enter new skill' skills-input-js require)

        a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" skills-add-js)
          span Add
        a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" designations-add-js)
          span Add

+modal('postingAdd', 'modalContent')

// MODAL :: END
