// MODAL :: START

mixin modalContent()
  .c-modal__header
    .c-modal__header-bg
      span

    p Select your plan

  .c-modal__body

    .c-modal__box-wrapper
      div
        .c-modal__box.c-modal__box-1
          .c-modal__box-bg
          .c-modal__box-content
            .c-modal__box-circle
              i.icon-font.icon-shout
            p.c-modal__box-title Regular
            p.c-modal__box-subtitle Job post active for 3 months
            .c-modal__box-relevant
              .c-modal__box-relevant-head
                div
                  p Relevant candidates within
                div
                  span!= "2 Weeks<i>*</i>"
              .c-modal__box-relevant-body
                ul
                  li
                    div
                      p Pre-qualified candidates
                    div
                      i.icon-font.icon-circle-x
                  li
                    div
                      p Personal Account Manager
                    div
                      i.icon-font.icon-circle-x
                  li
                    div
                      p Dedicated referbility Referrers
                    div
                      i.icon-font.icon-circle-x
                  li
                    div
                      a(href="#")
                        i.icon-font.icon-bell-alert
                        span Urgent
                      p Tag on job post
                    div
                      i.icon-font.icon-circle-x
            .c-modal__box-terms.c-modal__box-terms--regular
              p.c-modal__box-terms-title Payment Terms:
              .c-modal__box-terms-head
                div
                  p Regular job post
                div
                  span $150
              .c-modal__box-terms-body
                div
                  span Pay Later
                div
                  p Upon a referred candidate accepting your job offer: 100% of your chosen reward**
                div
                  span(posting-regular-js) $1,500
              .c-modal__box-terms-footer
                div
                  p Total
                div
                  span(posting-regular-sum-js) $1,650
              .c-modal__box-terms-info
                div
                  p Down payment of 25% of your chosen reward**
                div
                  span $375

            .c-modal__box-voucher
              input(type='text' name='' placeholder='Do you have a voucher code?')
              button.c-btn.c-btn--bg.c-btn--bg-blue(type='button')
                span Apply

            .posting__form-field
              label.posting__form-checkbox(for='posting_1_regular')
                input(type='checkbox' name='' id='posting_1_regular')
                div
                  span
                    i
                div
                  p!= "I have read & agree to the <a href='#'>Terms & Conditions.</a>"

            .c-modal__box-btn
              a(href="#")
                span Choose

      div
        .c-modal__box.c-modal__box-2.is-active
          .c-modal__box-bg
          .c-modal__box-content
            .c-modal__box-circle
              i.icon-font.icon-rocket
            p.c-modal__box-title Premium
            p.c-modal__box-subtitle Job post active for 3 months
            .c-modal__box-relevant
              .c-modal__box-relevant-head
                div
                  p Relevant candidates within
                div
                  span!= "5 Days<i>*</i>"
              .c-modal__box-relevant-body
                ul
                  li
                    div
                      p Pre-qualified candidates
                    div
                      i.icon-font.icon-circle-checked
                  li
                    div
                      p Personal Account Manager
                    div
                      i.icon-font.icon-circle-checked
                  li
                    div
                      p Dedicated referbility Referrers
                    div
                      i.icon-font.icon-circle-checked
                  li
                    div
                      a(href="#")
                        i.icon-font.icon-bell-alert
                        span Urgent
                      p Tag on job post
                    div
                      i.icon-font.icon-circle-checked

            .c-modal__box-terms
              p.c-modal__box-terms-title Payment Terms:
              .c-modal__box-terms-head
                div
                  p Regular job post
                div
                  span $200
              .c-modal__box-terms-info
                div
                  p Down payment of 25% of your chosen reward**
                div
                  span(posting-premium-25-js) $375
              .c-modal__box-terms-body
                div
                  span Pay Later
                div
                  p Upon a referred candidate accepting your job offer: 75% of your chosen reward**
                div
                  span(posting-premium-75-js) $1,125
              .c-modal__box-terms-footer
                div
                  p Total
                div
                  span(posting-premium-sum-js) $1,700

            .c-modal__box-voucher
              input(type='text' name='' placeholder='Do you have a voucher code?')
              button.c-btn.c-btn--bg.c-btn--bg-blue(type='button')
                span Apply

            .posting__form-field
              label.posting__form-checkbox(for='posting_1_premium')
                input(type='checkbox' name='' id='posting_1_premium')
                div
                  span
                    i
                div
                  p!= "I have read & agree to the <a href='#'>Terms & Conditions.</a>"

            .c-modal__box-btn
              a(href="#")
                span Choose

  .c-modal__footer
    p *While we endeavor to deliver candidates as soon as possible, there are several factors that influence a candidate's willingness to accept a referral to your job. The provided time lines are therefore projections, not guarantees.
    p **Payments towards rewards are kept in escrow and are placed into placement guarantee for 3 months after the candidate joining you. If you don't retain the candidate throughout the placement guarantee, the reward will be refunded to your dashboard, where you can use it for any other job and/or candidate.

+modal('postingReview', 'modalContent')

// MODAL :: END
