.posting__btn-wrapper.is-active(posting-action-1-js)
  div
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
    span Next

.posting__btn-wrapper(posting-action-2-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#")
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
    span Next

.posting__btn-wrapper(posting-action-3-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#")
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
    span Next

.posting__btn-wrapper(posting-action-4-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#")
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
    span Next

.posting__btn-wrapper(posting-action-5-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#")
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#postingPost" data-effect='mfp-zoom-in' popup-js)
    span Post
