form.posting__form.posting__form-3(action='' method='' name='' posting-form-3-js)

  p.posting__title Do you have any questions that you'd like the candidate to answer while accepting the referral?

  .posting__form-field
    .posting__form-remove
      a(href="#")
        i.icon-font.icon-trash
    .posting__form-input
      input(type='text' name='' id='posting_1_add_question' placeholder='Add question')

  .posting__form-field
    .posting__form-add.posting__form-add--center
      a(href="#")
        span Add More
        i.icon-font.icon-plus
