.posting__btn-wrapper.is-active(posting-action-js data-wrapper-id='1')
  div
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" data-id='2' posting-next-js)
    span Next 1

.posting__btn-wrapper(posting-action-js data-wrapper-id='2')
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='1' posting-back-js)
    span Back 2
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" data-id='3' posting-next-js)
    span Next 2

.posting__btn-wrapper(posting-action-js data-wrapper-id='3')
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='2' posting-back-js)
    span Back 3
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" data-id='4' posting-question-js)
    span Next 3

.posting__btn-wrapper(posting-action-js data-wrapper-id='4')
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='3' posting-back-js)
    span Back 4
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#postingReview" data-effect='mfp-zoom-in' posting-review-js popup-js)
    span Review 4
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" data-id='5' posting-question-js)
    span Next 4

.posting__btn-wrapper(posting-action-js data-wrapper-id='5')
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='4' posting-back-js)
    span Back 5
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#postingPost" data-effect='mfp-zoom-in' popup-js)
    span Post 5
