form.posting__form.posting__form-5(action='' method='' name='' autocomplete='off' posting-form-5-js)

  p.posting__title All fine? Please double-check before submitting your job for review!

  include _details-empty
