// SECTION :: START

section#posting.posting

  .posting__wrapper
    .posting__wrapper-head

      include _posting--step

    .posting__wrapper-body

      //include _posting--form-1
      //include _posting--form-2
      //include _posting--form-3
      include _posting--form-4
      //include _posting--form-5

    .posting__wrapper-footer

      include _posting--action

// SECTION :: END
