.posting__step-wrapper
  .posting__step.posting__step--info.is-active(posting-step-1-js)
    .posting__step-circle
      i.icon-font.icon-case
    .posting__step-desc
      p The Job

  .posting__step.posting__step--arrow
    i.icon-font.icon-corner

  .posting__step.posting__step--info(posting-step-2-js)
    .posting__step-circle
      i.icon-font.icon-user
    .posting__step-desc
      p The Candidate

  .posting__step.posting__step--arrow
    i.icon-font.icon-corner

  .posting__step.posting__step--info(posting-step-3-js)
    .posting__step-circle
      i.icon-font.icon-question-circle
    .posting__step-desc
      p Screening Questions

  .posting__step.posting__step--arrow
    i.icon-font.icon-corner

  .posting__step.posting__step--info(posting-step-4-js)
    .posting__step-circle
      i.icon-font.icon-cup
    .posting__step-desc
      p Reward

  .posting__step.posting__step--arrow
    i.icon-font.icon-corner

  .posting__step.posting__step--info(posting-step-5-js)
    .posting__step-circle
      i.icon-font.icon-newspaper
    .posting__step-desc
      p Review
