form.posting__form.posting__form-4(action='' method='' name='' posting-form-4-js)

  p.posting__title Tell us how much you're willing to reward someone when you hire and retain a referral!

  .posting__form-group.posting__form-group--7030
    .posting__form-col.posting__form-col-1

      p.posting__form-desc!= "Higher rewards incentivize people to refer candidates and allows us to advertise your position. We recommend a reward of <span>$1,000</span> for this job."

    .posting__form-col.posting__form-col-2

      .posting__form-details
        p.posting__form-details-title Job post like yours
        p.posting__form-details-res!= "$1,000 to $10,000"
        p.posting__form-details-desc is the typical budget set by similar jobs
