.posting__btn-wrapper.is-active.is-active(posting-action-js)
  div
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" data-id='2' posting-next-js)
    span Next

.posting__btn-wrapper(posting-action-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='1' posting-back-js)
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" data-id='3' posting-next-js)
    span Next

.posting__btn-wrapper(posting-action-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='2' posting-back-js)
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#" data-id='4' posting-next-js)
    span Next

.posting__btn-wrapper(posting-action-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='3' posting-back-js)
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#postingReview" data-effect='mfp-zoom-in' popup-js)
    span Review

.posting__btn-wrapper(posting-action-js)
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gray(href="#" data-id='4' posting-back-js)
    span Back
  a.posting__btn.c-btn.c-btn--bg.c-btn--bg-gradient(href="#postingPost" data-effect='mfp-zoom-in' popup-js)
    span Post
