// COMMON :: START

//  .copyright
.copyright {
  &__text {
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(#ffffff, 0.7);
  }
}
//  .copyright :: end

// COMMON :: END