// COMMON :: START

// stellar parallax obj
[parallax-js] {
  will-change: transform;
  transform-origin: center;
  backface-visibility: hidden;
  transition: transform 2s cubic-bezier(0, 0, 0, 1) 0s;
}
// stellar parallax obj :: end

// kanban dropdown
[dropdown-contnet-js] {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  @include transition(opacity, visibility, transform);

  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    @include transition(opacity, visibility, transform);
  }
}
// kanban dropdown :: end

// notify
.notify {
  position: relative;

  &.notify--kanban {
    .notify {
      &__drop {
        @include adaptive(1439) {
          left: auto;
          right: -50px;
        }
        @include adaptive(424) {
          width: 300px;
        }
        @include adaptive(374) {
          width: 250px;
        }

        &:before {
          @include adaptive(767) {
            right: 53px;
            margin-right: 0;
          }
        }
      }
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 19px;

    .icon-font {
      color: #ffffff;
      font-size: 20px;
    }

    .notify__indication {
      position: absolute;
      top: -10px;
      right: -8px;
    }
  }

  &__indication {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(0, 170, 255, 0.2);
    background-image: linear-gradient(12deg, #00aaff -9%, #28d7cc 135%);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }

  &__action {
    display: flex;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 -1px 0 0 #dfdfff;
    background-color: #ffffff;

    &--notread {
      background-color: #eeeefc;
    }

    > div {
      height: 100%;

      &:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        box-shadow: inset -1px 0 0 0 #dfdfff;
      }

      &:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        min-width: 1px;
        max-width: 100%;
        padding-left: 30px;
        padding-right: 10px;
      }

      .icon-font {
        color: #6364e9;
        font-size: 20px;
      }

      p {
        padding-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #020d60;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #6364e9;
      }
    }
  }

  &__drop {
    position: absolute;
    top: calc(100% + 30px);
    left: -175px;
    width: 350px;
    box-shadow: 0 2px 8px 0 rgba(#000, 0.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      right: calc(50% - 20px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent #f8f7ff transparent;
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      padding: 10px 30px;
      box-shadow: inset 0 -1px 0 0 #dfdfff;
      background-color: #f8f7ff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      p {
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #344563;
      }
    }

    &-body {
      overflow-y: auto;
      max-height: 400px;
      width: 100%;
      background-color: #ffffff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
// notify :: end

// social
.social {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  @include adaptive(1023) {
    align-items: center;
  }

  &--referrer {
    .social {
      &__link {
        .icon-font {
          color: #2d1c40;
        }
      }
    }
  }

  &__title {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(#ffffff, 0.7);
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 10px;

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(#ffffff, 0.7);
    will-change: background-color;
    @include transition(background-color);

    &:hover {
      background-color: $c-white;
      @include transition(background-color);
    }

    .icon-font {
      color: #020d60;
      font-size: 16px;
    }
  }
}
// social :: end

//  copyright
.copyright {
  &__text {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: rgba(#ffffff, 0.7);

    a {
      color: rgba(#ffffff, 0.7);
      @include transition(color);

      &:hover {
        color: rgba(#ffffff, 1);
        @include transition(color);
      }
    }
  }
}
//  copyright :: end

@keyframes c-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes c-slideInUp {
  from {
    transform: translateY(75px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes c-slideInLeft {
  from {
    transform: translateX(-75px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes c-slideInRight {
  from {
    transform: translateX(75px);
  }
  to {
    transform: translateX(0);
  }
}

.animated {
  animation-fill-mode: both;
  animation-duration: 0.75s;
}

// COMMON :: END
