.register-form__info

  p.register-form__info-title With an employer account you can:

  .register-form__info-body

    ul.register-form__info-list
      li.register-form__info-item.register-form__info-item--center
        div
          .register-form__info-circle
            i.icon-font.icon-check-mark
        div
          p.register-form__info-desc!= "Post jobs <strong>for free!</strong>"

      li.register-form__info-item.register-form__info-item--center
        div
          .register-form__info-circle
            i.icon-font.icon-check-mark
        div
          p.register-form__info-desc!= "Receive <strong>unlimited referrals!</strong>"

      li.register-form__info-item
        div
          .register-form__info-circle
            i.icon-font.icon-check-mark
        div
          p.register-form__info-desc!= "Interview as many referrals as you like, deposit the reward with us upon hiring, and <strong>get your money back if you don't retain the referral for three months!</strong>"

