.register-form__field
  .register-form__field-row.register-form__field-row-0
    p Contact Information

  .register-form__field-row.register-form__field-row-1
    .register-form__field-input
      label(for='full_name') Your name
      input(type='text' id='full_name' name='full_name' placeholder='Type your name')

  //.register-form__field-row.register-form__field-row-3
  //  .register-form__field-input
  //    label(for='phone_number') Phone Number
  //    input(type='text' id='phone_number' name='phone_number' placeholder='Type your phone number')

  //.register-form__field-row.register-form__field-row-4
  //  .register-form__field-input
  //    label(for='city') City
  //    input(type='text' id='city' name='city' placeholder='Type your city')

  .register-form__field-row.register-form__field-row-5
    .register-form__field-input
      label(for='company_name') Company Name
      input(type='text' id='company_name' name='company_name' placeholder='Type your company name')

  .register-form__field-row.register-form__field-row-6
    .register-form__field-file
      p Company Logo
      .c-modal__browse
        input#file(type='file' name='' inputfile-js)
        label(for='file')
          a.c-btn.c-btn--bg.c-btn--bg-gradient
            span Browse
        p
          span Browse your logo

  .register-form__field-row.register-form__field-row-0
    p Account Details

  .register-form__field-row.register-form__field-row-2
    .register-form__field-input
      label(for='email') Email
      input(type='email' id='email' name='email' placeholder='Type your email address')

  .register-form__field-row.register-form__field-row-7
    .register-form__field-input
      label(for='password') Password
      input(type='text' id='password' name='password' placeholder='Type your password')

  .register-form__field-row.register-form__field-row-8
    .register-form__field-input
      label(for='confirm_password') Confirm Password
      input(type='text' id='confirm_password' name='confirm_password' placeholder='Re-type your password')

  .register-form__field-row.register-form__field-row-9
    .register-form__field-checkbox
      label(for='i_have_read')
        p
          input(type='checkbox' id='i_have_read' name='i_have_read')
        p
          span!= "I have read, understood, and will adhere to <a href='#'>referbility.com's</a> Terms & Conditions and Privacy Policy"

  .register-form__field-row.register-form__field-row-10
    .register-form__field-btn
      a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
        span Create My Account
