.register-form__info.register-form__info--referrer

  p.register-form__info-title With a referrer account you can:

  .register-form__info-body

    ul.register-form__info-list
      li.register-form__info-item
        div
          .register-form__info-circle
            i.icon-font.icon-check-mark
        div
          p.register-form__info-desc!= "<strong>Refer family, friends, colleagues</strong> and <strong>peers</strong> to <strong>great jobs</strong> and <strong>get paid</strong> for each <strong>successful referral!</strong>"

      li.register-form__info-item
        div
          .register-form__info-circle
            i.icon-font.icon-check-mark
        div
          p.register-form__info-desc!= "If the employers <strong>hires & retains your referral for 3 months</strong>, you are entitled to the <strong>position's reward!</strong>"

      li.register-form__info-item
        div
          .register-form__info-circle
            i.icon-font.icon-check-mark
        div
          p.register-form__info-desc!= "<strong>Subscribe</strong> to industry-specific <strong>job alerts</strong> and get <strong>new jobs to refer & apply</strong> to directly delivered to your <strong>inbox!</strong>"

