// SECTION main :: START

section#register-main.register-main
  .c-grid-fluid

    .register-main__wrapper

      .register-main__wrapper-bg
        span(parallax-js data-stellar-ratio="1.2")
        span(parallax-js data-stellar-ratio="0.85")

      .register-main__wrapper-content
        p.register-main__badge Employer
        h1.register-main__title Create an Account
        p.register-main__desc!= "Are you referring or applying directly for job? <a href='#'>Click Here</a>"

// SECTION main :: END
