// SECTION :: START

section#contacts-info.contacts-info

  .contacts-info__bg
    img(src="img/crowdsourcing-shape-1.svg")

  .c-grid
    .contacts-info__wrapper

      .contacts-info__box
        p We revolutionize recruitment by empowering the public to leverage their networks to earn money by referring people they know to great jobs.
        p We started our journey in Dubai in 2018 and have since then grown through several iterations of referbility - listening to feedback, implementing, measuring, and celebrating (and sometimes scaling back).
        p We work across industries and geographies on a project that started as something we envisioned to be 'on the side', but which quickly grew so dear with us that we work full-time on it.
        p Join us and be part of our journey!


// SECTION :: END
