// SECTION :: START

section#contacts-main.contacts-main

  .contacts-main__bg
    span(parallax-js data-stellar-ratio="0.9")
    span(parallax-js data-stellar-ratio="1.1")

    .contacts-main__bg-inner

  .c-grid
    .contacts-main__wrapper
      .contacts-main__wrapper-left

        div
          h1.contacts-main__title About us
          p.contacts-main__subtitle Questions, comments, or just want to say Hello? Get in touch with us!

      .contacts-main__wrapper-right

    a.contacts-main__link(href="#contacts-info" anchor-js)
      span Learn More
      i.icon-font.icon-corner

  .contacts-main__content
    .contacts-main__content-left

    .contacts-main__content-right
      img(src="img/img-contacts-main-bg.png" srcset="img/img-contacts-main-bg@2x.png 2x, img/img-contacts-main-bg@3x.png 3x" alt="")

// SECTION :: END
