// SECTION :: START

section#contacts-main.contacts-main

  .contacts-main__bg
    span(parallax-js data-stellar-ratio="0.9")
    span(parallax-js data-stellar-ratio="1.1")

    .contacts-main__bg-inner

  .c-grid
    .contacts-main__wrapper
      .contacts-main__wrapper-left

        div
          h1.contacts-main__title About us
          p.contacts-main__subtitle Questions, comments, or just want to say Hello? Get in touch with us!

      .contacts-main__wrapper-right

    a.contacts-main__link(href="#" anchor-js)
      span Learn More
      i.icon-font.icon-corner

  .contacts-main__content
    .contacts-main__content-left

    .contacts-main__content-right
      //img(src="img/img-retouch-main.png" srcset="img/img-retouch-main@2x.png 2x" alt="")
      //img(src="img/img-retouch-main--mobile.png" srcset="img/img-retouch-main--mobile@2x.png 2x" alt="")

// SECTION :: END
