// SECTION :: START

section#contacts-team.contacts-team

  .contacts-team__bg
    span
    span

  .c-grid
    .contacts-team__wrapper

      p.contacts-team__title Team
      .contacts-team__line

      .contacts-team__user-wrapper
        mixin swiperContent()
          .swiper-slide
            .contacts-team__user.contacts-team__user-1
              .contacts-team__user-ava
                img(src="img/profile-2.png" srcset="img/profile-2@2x.png 2x, img/profile-2@3x.png 3x" alt="")
              p.contacts-team__user-title Clemens Mielke
              p.contacts-team__user-position Founder
              .contacts-team__user-social
                a(href="https://www.linkedin.com/in/clmielke/" target='_blank')
                  i.icon-font.icon-linkedin
                a(href="mailto:Clemens.Mielke@referbility.com")
                  i.icon-font.icon-mail

          .swiper-slide
            .contacts-team__user.contacts-team__user-2
              .contacts-team__user-ava
                img(src="img/profile-1.png" srcset="img/profile-1@2x.png 2x, img/profile-1@3x.png 3x" alt="")
              p.contacts-team__user-title Khadija Al Jabri
              p.contacts-team__user-position Co-Founder
              .contacts-team__user-social
                a(href="https://www.linkedin.com/in/khadija-al-jabri/" target='_blank')
                  i.icon-font.icon-linkedin
                a(href="mailto:Khadija.AlJabri@referbility.com")
                  i.icon-font.icon-mail

        +swiper('contactsUser', 'swiperContent', false, false, false)

        .contacts-team__user-btn-wrapper
          a.contacts-team__user-btn.contacts-team__user-btn-prev(href="#")
            i.icon-font.icon-corner
          a.contacts-team__user-btn.contacts-team__user-btn-next(href="#")
            i.icon-font.icon-corner

      p.contacts-team__subtitle As seen on

      .contacts-team__visual

        mixin swiperContent()
          .swiper-slide
            img(src="img/img-seen-1.png" alt="")
          .swiper-slide
            img(src="img/img-seen-2.png" alt="")
          .swiper-slide
            img(src="img/img-seen-3.png" alt="")
          .swiper-slide
            img(src="img/img-seen-4.png" alt="")
          .swiper-slide
            img(src="img/img-seen-5.png" alt="")

        +swiper('contactsSeen', 'swiperContent', false, false, false)

        .contacts-team__btn-wrapper
          a.contacts-team__btn.contacts-team__btn-prev(href="#")
            i.icon-font.icon-corner
          a.contacts-team__btn.contacts-team__btn-next(href="#")
            i.icon-font.icon-corner

// SECTION :: END
