// SECTION :: START

section#contacts-team.contacts-team

  .contacts-team__bg
    span
    span

  .c-grid
    .contacts-team__wrapper

      p.contacts-team__title Team
      .contacts-team__line

      .contacts-team__user-wrapper
        .contacts-team__user.contacts-team__user-1
          .contacts-team__user-ava
            img(src="img/profile-2.png" srcset="img/profile-2@2x.png 2x, img/profile-2@3x.png 3x" alt="")
          p.contacts-team__user-title Clemens Mielke
          p.contacts-team__user-position Founder
          .contacts-team__user-social
            a(href="#")
              i.icon-font.icon-linkedin
            a(href="#")
              i.icon-font.icon-mail

        .contacts-team__user.contacts-team__user-2
          .contacts-team__user-ava
            img(src="img/profile-1.png" srcset="img/profile-1@2x.png 2x, img/profile-1@3x.png 3x" alt="")
          p.contacts-team__user-title Khadija Al Jabri
          p.contacts-team__user-position Co-Founder
          .contacts-team__user-social
            a(href="#")
              i.icon-font.icon-linkedin
            a(href="#")
              i.icon-font.icon-mail

      p.contacts-team__subtitle As seen on
      .contacts-team__visual
        img(src="img/as-seen-on.png" srcset="img/as-seen-on@2x.png 2x, img/as-seen-on@3x.png 3x" alt="")

// SECTION :: END
