.icon-advantages-1 {
  width:(98.58)*1px;
  height:(98.58)*1px;
}
.icon-advantages-2 {
  width:(98.58)*1px;
  height:(98.58)*1px;
}
.icon-advantages-3 {
  width:(98.58)*1px;
  height:(98.58)*1px;
}
.icon-advantages-4 {
  width:(98.58)*1px;
  height:(98.58)*1px;
}
.icon-advantages-5 {
  width:(98.58)*1px;
  height:(98.58)*1px;
}
.icon-audience-1 {
  width:(227.37)*1px;
  height:(200.6)*1px;
}
.icon-audience-2 {
  width:(227.37)*1px;
  height:(200.625)*1px;
}
.icon-audience-3 {
  width:(227.37)*1px;
  height:(198.475)*1px;
}
.icon-audience-4 {
  width:(227.37)*1px;
  height:(212.235)*1px;
}
.icon-audience-5 {
  width:(145.76)*1px;
  height:(168.535)*1px;
}
.icon-audience-6 {
  width:(231.71)*1px;
  height:(206.18)*1px;
}
.icon-how-1 {
  width:(101.736)*1px;
  height:(101.736)*1px;
}
.icon-how-2 {
  width:(101.736)*1px;
  height:(101.736)*1px;
}
.icon-how-3 {
  width:(101.736)*1px;
  height:(101.736)*1px;
}
.icon-how-4 {
  width:(101.736)*1px;
  height:(101.736)*1px;
}
.icon-how-5 {
  width:(101.736)*1px;
  height:(101.736)*1px;
}
.icon-main-number {
  width:(22)*1px;
  height:(70)*1px;
}
