// SECTION board :: START

.board {
  padding-bottom: 120px;
  @include adaptive(767) {
    padding-bottom: 100px;
  }

  .c-grid {
    max-width: 1320px;
  }

  &__wrapper {
    display: flex;
    @include adaptive(1023) {
      flex-wrap: wrap;
    }

    &.board__wrapper--column {
      flex-direction: column;

      .board__wrapper-left,
      .board__wrapper-right {
        width: 100%;
        max-width: 835px;
        margin-left: auto;
        margin-right: auto;
      }

      .board__wrapper-left {
        padding-right: 0;
        padding-bottom: 60px;
        @include adaptive(1023) {
          order: 1;
        }
      }

      .board__wrapper-right {
        @include adaptive(1023) {
          order: 2;
        }
      }
    }

    &-left {
      width: 465px;
      padding-right: 45px;
      @include adaptive(1023) {
        order: 2;
        width: 100%;
        padding-right: 0;
      }
    }

    &-right {
      flex: 1;
      @include adaptive(1023) {
        order: 1;
        padding-bottom: 50px;
      }
    }
  }
}

// SECTION board :: END
