// SECTION card :: START

.board-card {
  padding-bottom: 15px;

  &__block {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #dfdfff;
    background-color: #ffffff;
    @include transition(background-color, transform, border-color, box-shadow);

    &:hover {
      border-color: #5153dc;
      transform: translateY(-10px);
      @include transition(transform, background-color, border-color, box-shadow);
    }
    &:active {
      background-color: rgba(#eeeefc, 0.75);
      border-color: darken(#dfdfff, 5%);
      box-shadow: 0 5px 20px 0 rgba(135, 131, 157, 0.15);
      @include transition(transform, background-color, border-color, box-shadow);
    }

    &.board-card__block--find {
      .board-card__block {
        &-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-height: 100%;
          padding-bottom: 30px;
        }

        &-title {
          justify-content: center;
          padding-bottom: 15px;

           p {
             text-transform: uppercase;
             font-size: 22px;
           }
        }
      }

      .ref-benefits__box-circle {
        width: 100px;
        height: 100px;

        .icon-font {
          font-size: 38px;
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;

      > div {
        padding-bottom: 25px;
      }
    }

    &-body {
      padding: 20px 30px;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      box-shadow: 0 20px 40px 0 rgba(135, 119, 217, 0.1);
      background-image: linear-gradient(264deg, #8181ff 67%, #5153dc);

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.5px;
        color: #ffffff;

        strong {
          font-weight: bold;
        }
      }
    }

    &-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 106px;
      min-height: 28px;
      margin-bottom: 5px;
      border-radius: 4px;
      background-image: linear-gradient(316deg, #ff5630 95%, #ff7452 22%);

      &-wrapper {
        display: flex;
        @include adaptive(1023) {
          justify-content: center;
        }
      }

      .icon-font {
        margin-right: 5px;
        color: #ffffff;
        font-size: 15px;
      }

      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #ffffff;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      @include adaptive(1023) {
        align-items: flex-start;
        flex-direction: column-reverse;
      }

      &--offset {
        .board-card__block-logo {
          position: relative;
          top: 40px;
          @include adaptive(1023) {
            top: 0;
          }
        }
      }

      > div {
        &:nth-of-type(1) {
          flex: 1;
          padding-right: 30px;
          @include adaptive(1023) {
            padding-right: 0;
          }
        }

        &:nth-of-type(2) {
          width: 90px;
          @include adaptive(1023) {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      p {
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #172b4d;
        @include adaptive(1023) {
          padding-top: 10px;
        }
      }
    }

    &-subtitle {
      padding-bottom: 10px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #7650b4;
    }

    &-logo {
      @include adaptive(1023) {
        width: 90px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;
        padding-bottom: 10px;

        &:last-of-type {
          padding-bottom: 0;
        }

        > div {
          &:nth-of-type(1) {
            width: 25px;
          }
          &:nth-of-type(2) {
            flex: 1;
          }

          .icon-font {
            color: #6364e9;
            font-size: 18px;
          }

          p {
            font-size: 16px;
            letter-spacing: 0.5px;
            color: #344563;
          }
        }
      }
    }

    &-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 5px;

      &--action {
        position: absolute;
        top: 20px;
        right: 30px;
      }
    }

    &-action {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-left: 2.5px;
      margin-right: 2.5px;
      border-radius: 50%;

      &--num {
        background-image: linear-gradient(221deg, #8181ff 73%, #5153dc);
        box-shadow: 0 20px 40px 0 rgba(135, 119, 217, 0.1);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
      }

      &--edit {
        box-shadow: 0 5px 10px 0 rgba(0, 170, 255, 0.2);
        @include transition(background-color, box-shadow);

        &:after {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          @include transition(opacity, visibility);
        }

        &:after {
          background-image: linear-gradient(5deg, #00aaff -14%, #28d7cc 260%);
        }

        &:hover {
          background-color: #5153dc;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          @include transition(background-color, box-shadow);

          &:after {
            opacity: 0;
            visibility: hidden;
            @include transition(opacity, visibility);
          }

          .icon-font {
            transform: scale(0.9);
            @include transition(transform);
          }
        }

        .icon-font {
          z-index: 2;
          position: relative;
          color: #ffffff;
          font-size: 17px;
          backface-visibility: hidden;
          @include transition(transform);
        }
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

// SECTION card :: END
