// SECTION board how it works :: START

.board-how {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  border: solid 1px #dfdfff;
  background-color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(135, 131, 157, 0.15);
  @include adaptive(767) {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  &.board-how--row {
    .board-how {
      &__wrapper {
        max-width: 645px;
      }

      &__list {
        flex-direction: row;
        @include adaptive(767) {
          flex-direction: column;
        }

        &-item {
          width: 100%;
          max-width: calc(100% / 3);
          flex-direction: column;
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;
          @include adaptive(767) {
            max-width: 100%;
            padding-bottom: 30px;
          }

          &--arrow {
            display: none;
          }

          > div {
            &:nth-of-type(2) {
              padding-left: 0;
              padding-top: 25px;
            }
          }
        }
      }
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 429px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: #172b4d;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;

    &-item {
      display: flex;
      align-items: center;
      padding-bottom: 5px;

      > div {
        &:nth-of-type(1) {
          display: flex;
          justify-content: center;
          width: 100px;
        }

        &:nth-of-type(2) {
          flex: 1;
          padding-left: 30px;
        }
      }

      .icon-font {
        color: #7650b4;
        font-size: 16px;
      }

      p {
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #344563;
      }
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 20px 40px 0 rgba(135, 119, 217, 0.1);
    background-image: linear-gradient(221deg, #8181ff 73%, #5153dc);

    .icon-font {
      color: #ffffff;

      &.icon-profile {
        font-size: 35px;
      }
      &.icon-email-star {
        font-size: 52px;
      }
      &.icon-medal {
        font-size: 52px;
      }
    }
  }

  &__btn {
    max-width: 225px;
    margin-left: auto;
    margin-right: auto;
  }
}

// SECTION board how it works :: END
