.c-modal {
  &.postingReview {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 940px;
    border-radius: 15px;
    box-shadow: 0 50px 90px 0 rgba(135, 131, 157, 0.15);
    background-color: $c-white;

    .mfp-close {
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 23px;
      right: 15px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: rgba(#fff, 1);
      font-size: 36px;
      @include adaptive(767) {
        right: 20px;
      }
    }

    .c-modal {
      &__header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70px;
        padding: 10px 40px;
        background-image: linear-gradient(232deg, #8181ff 71%, #5153dc);

        &-bg {
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          span {
            opacity: 0.7;
            position: absolute;
            top: -175px;
            right: 0;
            left: 0;
            width: 360px;
            height: 360px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            border: solid 130px rgba(255, 255, 255, 0.1);
          }
        }

        p {
          z-index: 2;
          position: relative;
          font-size: 21px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: #ffffff;
        }
      }

      &__body {
        position: relative;
        padding-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        @include adaptive(767) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      &__footer {
        width: 100%;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        @include adaptive(767) {
          padding-left: 20px;
          padding-right: 20px;
        }

        p {
          font-size: 12px;
          line-height: 1.42;
          letter-spacing: 0.5px;
          text-align: center;
          color: #42526e;

          &:not(:last-of-type) {
            padding-bottom: 20px;
          }
        }
      }

      &__box {
        overflow: hidden;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        @include adaptive(767) {
          height: 175px;
          @include transition(height);
        }

        &.is-show {
          height: auto;
          @include transition(height);
        }

        &.is-active {
          .c-modal__box {
            &-bg {
              border: solid 1px #8181ff;
              @include transition(border);
            }
            &-circle {
              border-color: transparent;
              @include transition(border-color);

              &:after {
                opacity: 1;
                visibility: visible;
                @include transition(opacity, visibility);
              }

              .icon-font {
                color: #ffffff;
                @include transition(color);
              }
            }
            &-btn {
              a {
                border-color: transparent;
                box-shadow: 0 5px 20px 0 rgba(135, 119, 217, 0.2);
                @include transition(border-color, box-shadow);

                &:hover {
                  &:before {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                    @include transition(opacity, visibility, transform);
                  }

                  &:after {
                    opacity: 0;
                    visibility: hidden;
                    @include transition(opacity, visibility);
                  }
                }

                &:after {
                  opacity: 1;
                  visibility: visible;
                  @include transition(opacity, visibility);
                }

                span {
                  color: #ffffff;
                  @include transition(color);
                }
              }
            }
          }
        }

        &-wrapper {
          display: flex;
          justify-content: space-between;
          @include adaptive(767) {
            flex-direction: column-reverse;
          }

          > div {
            width: 100%;
            max-width: calc((100% - 40px) / 2);
            @include adaptive(767) {
              max-width: 100%;
              margin-bottom: 15px;
            }
          }
        }

        &-bg {
          z-index: 0;
          position: absolute;
          top: 25px;
          left: 0;
          width: 100%;
          height: calc(100% - 25px);
          border-radius: 15px;
          box-shadow: 0 30px 50px 0 rgba(135, 131, 157, 0.1);
          border: solid 1px #dfdfff;
          background-color: #ffffff;
          @include transition(border);
        }

        &-content {
          z-index: 2;
          position: relative;
        }

        &-circle {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 100px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          border: solid 1px #dfdfff;
          background-image: linear-gradient(122deg, rgba(129, 129, 255, 0.2) 16%, rgba(81, 83, 220, 0.05) 112%), linear-gradient(to bottom, #ffffff, #ffffff);
          @include transition(border-color);

          &:after {
            content: '';
            opacity: 0;
            visibility: hidden;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(46deg, #00aaff 28%, #28d7cc 84%);
            @include transition(opacity, visibility);
          }

          .icon-font {
            z-index: 2;
            position: relative;
            color: rgba(#122659, 0.7);
            @include transition(color);

            &.icon-shout {
              font-size: 53px;
            }
            &.icon-rocket {
              font-size: 63px;
            }
          }
        }

        &-title {
          padding-top: 10px;
          font-size: 21px;
          font-weight: 500;
          letter-spacing: 1px;
          text-align: center;
          color: #122659;
          text-transform: uppercase;
        }

        &-subtitle {
          padding-bottom: 20px;
          font-size: 15px;
          line-height: 1.33;
          letter-spacing: 0.5px;
          text-align: center;
          color: #42526e;
        }

        &-relevant {
          display: flex;
          flex-direction: column;
          border-radius: 6px;
          border: solid 1px #dfdfff;

          &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 36px;
            padding: 8px 15px 8px 20px;
            background-image: linear-gradient(94deg, rgba(129, 129, 255, 0.2) 22%, rgba(81, 83, 220, 0.05) 133%), linear-gradient(to bottom, #ffffff, #ffffff);

            > div {
              &:nth-of-type(1) {
                flex: 1;
                min-width: 1px;
                max-width: 100%;
              }
              &:nth-of-type(2) {
                width: 80px;
                text-align: center;
              }
            }

            p {
              font-size: 15px;
              line-height: 1.33;
              letter-spacing: 0.5px;
              color: #42526e;
            }

            span {
              font-size: 15px;
              font-weight: bold;
              line-height: 1.33;
              letter-spacing: 0.5px;
              text-align: center;
              color: #5153dc;

              i {
                font-weight: normal;
                font-style: normal;
                color: #42526e;
              }
            }
          }

          &-body {
            ul {
              display: flex;
              flex-direction: column;

              li {
                display: flex;
                align-items: center;
                min-height: 35px;
                padding: 8px 15px 8px 20px;
                border-bottom: solid 1px #dfdfff;

                &:last-of-type {
                  border: none;
                }

                > div {
                  &:nth-of-type(1) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    flex: 1;
                    min-width: 1px;
                    max-width: 100%;
                  }
                  &:nth-of-type(2) {
                    display: flex;
                    justify-content: center;
                    width: 80px;
                  }
                }
              }

              a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 28px;
                padding: 3px 10px;
                margin-right: 10px;
                border-radius: 4px;
                background-image: linear-gradient(318deg, #ff5630 97%, #ff7452 21%);

                i {
                  margin-right: 7px;
                  color: $c-white;
                  font-size: 16px;
                }

                span {
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: 500;
                  letter-spacing: 0.5px;
                  color: #ffffff;
                }
              }

              p {
                font-size: 15px;
                line-height: 1.33;
                letter-spacing: 0.5px;
                color: #42526e;
              }

              .icon-font {
                font-size: 20px;

                &.icon-circle-x {
                  color: #ff5630;
                }
                &.icon-circle-checked {
                  color: #36b37e;
                }
              }
            }
          }
        }

        &-terms {
          padding-top: 15px;

          &.c-modal__box-terms--regular {
            .c-modal__box-terms-info {
              opacity: 0;
            }
          }

          &-title {
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: center;
            color: #091e42;
          }

          &-head,
          &-info,
          &-footer {
            display: flex;
            align-items: center;
            min-height: 40px;
            padding: 3px 15px 3px 20px;

            > div {
              &:nth-of-type(1) {
                flex: 1;
                min-width: 1px;
                max-width: 100%;
              }
              &:nth-of-type(2) {
                width: 80px;
                text-align: center;
              }
            }
          }

          &-head,
          &-info {
            border-radius: 6px 6px 0 0;
            border: solid 1px #dfdfff;

            p {
              font-size: 15px;
              line-height: 1.33;
              letter-spacing: 0.5px;
              color: #42526e;
            }

            span {
              font-size: 15px;
              font-weight: 500;
              line-height: 1.33;
              letter-spacing: 0.5px;
              text-align: center;
              color: #42526e;
            }
          }

          &-info {
            min-height: 60px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 0;
            border-top: none;
          }

          &-body {
            display: flex;
            min-height: 80px;
            border-left: solid 1px #dfdfff;
            border-right: solid 1px #dfdfff;

            > div {
              min-height: 100%;

              &:nth-of-type(1) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                background-color: #ff8f73;

                span {
                  white-space: nowrap;
                  text-transform: uppercase;
                  transform: rotate(-90deg);
                  font-size: 12px;
                  font-weight: 500;
                  letter-spacing: 0.5px;
                  text-align: center;
                  color: #ffffff;
                }
              }
              &:nth-of-type(2) {
                display: flex;
                align-items: center;
                flex: 1;
                min-width: 1px;
                max-width: 100%;
                padding: 10px 5px 10px 10px;

                p {
                  font-size: 15px;
                  line-height: 1.33;
                  letter-spacing: 0.5px;
                  color: #42526e;
                }
              }
              &:nth-of-type(3) {
                width: 80px;
                padding-top: 10px;
                padding-bottom: 10px;

                span {
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 1.33;
                  letter-spacing: 0.5px;
                  text-align: center;
                  color: #42526e;
                }
              }
            }
          }

          &-footer {
            border-radius: 0 0 6px 6px;
            border: solid 1px #dfdfff;

            p {
              padding-right: 15px;
              font-size: 15px;
              line-height: 1.33;
              letter-spacing: 0.5px;
              text-align: right;
              color: #42526e;
            }

            span {
              font-size: 15px;
              font-weight: 800;
              line-height: 1.33;
              letter-spacing: 0.5px;
              text-align: center;
              color: #42526e;
            }
          }
        }

        &-voucher {
          overflow: hidden;
          position: relative;
          display: flex;
          justify-content: flex-end;
          height: 43px;
          margin-top: 15px;
          margin-bottom: 15px;
          border-radius: 4px;
          background-color: #ecebf6;

          input {
            outline: none;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 100px);
            height: 100%;
            padding: 0 5px 0 20px;
            border: none;
            box-shadow: none;
            border-radius: 0;
            background-color: transparent;
            font-size: 15px;
            letter-spacing: 0.5px;
            color: #091e42;
            @include inputPlaceholder {
              font-size: 15px;
              letter-spacing: 0.5px;
              color: rgba(#091e42, 0.6);
            }
            @include adaptive(767) {
              width: calc(100% - 75px);
            }
          }

          button {
            border-radius: 0 4px 4px 0;
            box-shadow: 0 5px 20px 0 rgba(135, 119, 217, 0.2);
            background-image: linear-gradient(218deg, #8181ff 100%, #5153dc -18%);
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
            @include adaptive(767) {
              width: 75px;
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        }

        &-btn {
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            overflow: hidden;
            z-index: 10;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            height: 40px;
            border-radius: 39px;
            border: solid 1px rgba(45, 28, 64, 0.5);
            background-color: #ffffff;
            @include transition(opacity, border-color, box-shadow);

            &[disabled] {
              opacity: 0.55;
              cursor: not-allowed;
              pointer-events: none;
              @include transition(opacity);
            }

            &:hover {
              border-color: transparent;
              box-shadow: 0 5px 20px 0 rgba(135, 119, 217, 0.2);
              @include transition(border-color, box-shadow);

              &:after {
                opacity: 1;
                visibility: visible;
                @include transition(opacity, visibility);
              }

              span {
                color: #ffffff;
                @include transition(color);
              }
            }

            &:before {
              content: '';
              opacity: 0;
              visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 39px;
              background-color: #020d60;
              transform: scale(1);
              backface-visibility: hidden;
              transform-origin: center;
              @include transition(opacity, visibility, transform);
            }

            &:after {
              content: '';
              opacity: 0;
              visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(46deg, #00aaff 28%, #28d7cc 84%);
              @include transition(opacity, visibility);
            }

            span {
              z-index: 2;
              position: relative;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 1px;
              text-align: center;
              color: #2d1c40;
              @include transition(color);
            }
          }
        }
      }
    }
  }
}
