// SECTION :: START

.posting {
  padding-top: 135px;
  padding-bottom: 60px;

  @import "posting--step";

  &__wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: solid 1px #dfdfff;
    background-color: #ffffff;
    box-shadow: 0 50px 90px 0 rgba(135, 131, 157, 0.15);

    &-head {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 95px;
      border-radius: 15px 15px 0 0;
      border-bottom: solid 1px #dfdfff;
      background-color: #ffffff;
      box-shadow: 0 30px 50px 0 rgba(135, 131, 157, 0.05);
    }

    &-body {
      padding-top: 55px;
      padding-bottom: 35px;
    }

    &-footer {
      padding-top: 35px;
      padding-bottom: 60px;
    }
  }

  &__title {
    padding-bottom: 20px;
    font-size: 21px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #091e42;

    &:not(:first-of-type) {
      padding-top: 35px;
    }
  }

  &__form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &-1,
    &-2,
    &-3 {
      max-width: 600px;
    }
    &-4 {}
    &-5 {
      max-width: 830px;
    }

    &-group {
      display: flex;
      justify-content: space-between;

      &.posting__form-group--7030 {
        .posting__form-col {
          &-1 {
            width: calc(70% - 10px);
          }
          &-2 {
            width: calc(30% - 10px);
          }
        }
      }

      .posting__form-col {
        width: calc(50% - 20px);
      }
    }

    &-field {
      position: relative;
      padding-bottom: 25px;
    }

    &-label {
      display: flex;
      padding-bottom: 10px;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #091e42;

      &--hidden {
        opacity: 0;
      }
    }

    &-info {
      height: 90px;
      padding: 15px 25px;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(135, 119, 217, 0.2);
      background: linear-gradient(45deg, rgba(81,83,220,1) 0%,rgba(129,129,255,1) 100%);

      p {
        font-size: 15px;
        line-height: 1.33;
        letter-spacing: 0.5px;
        color: #ffffff;
      }
    }

    &-input,
    &-select,
    &-textarea {
      position: relative;
      height: 53px;
      border-radius: 4px;
      background-color: #ecebf6;

      input,
      select,
      textarea {
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 25px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #091e42;
        @include inputPlaceholder {
          font-size: 15px;
          letter-spacing: 0.5px;
          color: rgba(#091e42, 0.6);
        }
      }
    }

    &-textarea {
      height: 200px;

      textarea {
        resize: none;
        padding: 15px 25px;
      }
    }

    &-checkbox {
      position: relative;
      display: flex;
      align-items: center;

      input {
        opacity: 0;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;

        &:checked {
          & + div {
            span {
              &:after {
                opacity: 1;
                visibility: visible;
                @include transition(opacity, visibility);
              }

              i {
                transform: rotate(45deg) scale(1);
                @include transition(transform);
              }
            }
          }
        }
      }

      > div {
        &:nth-of-type(1) {
          width: 45px;
        }
        &:nth-of-type(2) {
          flex: 1;
          min-width: 1px;
          max-width: 100%;
        }

        span {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          box-shadow: 0 2px 5px 0 rgba(135, 119, 217, 0.2);
          background-color: #ecebf6;

          &:after {
            content: '';
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(221deg, #8181ff 100%, #5153dc);
            @include transition(opacity, visibility);
          }

          i {
            z-index: 2;
            position: relative;
            width: 6px;
            height: 12px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg) scale(0);
            backface-visibility: hidden;
            transform-origin: center;
            @include transition(transform);
          }
        }

        p {
          font-size: 14px;
          letter-spacing: 0.5px;
          color: #344563;

          strong {
            font-weight: bold;
          }
        }
      }
    }

    &-tags {
      select {
        opacity: 0;
      }

      .fstQueryInput {
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-bottom: 0;
        padding: 10px 0;
        @include inputPlaceholder {
          font-size: 14px;
          letter-spacing: 0.5px;
          color: #091e42;
        }
      }

      .fstElement {
        width: 100%;
        min-height: 53px;
        border-radius: 4px;
        border: none;
        background-color: #ecebf6;
      }

      .fstControls {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }

      .fstMultipleMode .fstControls {
        padding-top: 0.6em;
      }

      .fstChoiceItem {
        padding: 0.25em 1.75em 0.25em 0.75em;
        border-radius: 4px;
        border: none;
        background-color: #020d60;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: #ffffff;
        @include adaptive(767) {
          display: flex;
          align-items: center;
        }

        .fstChoiceRemove {
          font-size: 20px;
          left: auto;
          right: 5px;
        }
      }

      .fstResults {
        border: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #ffffff;
      }

      .fstResultItem {
        font-size: 14px;
        line-height: 2.5;
        letter-spacing: 0.5px;
        color: #344563;
        padding: 0 1.5em;

        &.fstSelected {
          display: none;
          border-color: #020d60;
          background-color: rgba(#020d60, 1);
          color: #ffffff;
        }
      }

      .fstNoResults {
        font-size: 14px;
        line-height: 2.5;
        letter-spacing: 0.5px;
        color: #344563;
        padding: 0 1.5em;
      }
    }

    &-remove {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 5px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 rgba(0, 170, 255, 0.2);
        background-image: linear-gradient(42deg, #00aaff 25%, #28d7cc 88%);

        .icon-font {
          font-size: 15px;
          color: #ffffff;
        }
      }
    }

    &-add {
      display: flex;
      justify-content: flex-end;
      padding-top: 5px;

      &--center {
        justify-content: center;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 29px;
        padding: 3px 15px;
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 rgba(0, 170, 255, 0.2);
        background-image: linear-gradient(42deg, #00aaff 25%, #28d7cc 88%);

        span {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.36;
          letter-spacing: 0.5px;
          color: #ffffff;
          text-transform: uppercase;
        }

        .icon-font {
          margin-left: 3px;
          font-size: 13px;
          color: #ffffff;
        }
      }
    }
  }

  &__btn {
    width: 100%;
    max-width: 250px;

    &-wrapper {
      //display: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;

      &.is-active {
        //display: flex;
      }
    }
  }

  .board-details {
    margin-bottom: 0;
  }
}

@import "posting--modal";
@import "posting--add";

// SECTION :: END
