// SECTION :: START

section#retouch-benefits.retouch-benefits

  .retouch-benefits__bg
    img(src="img/crowdsourcing-shape-1.svg" parallax-js data-stellar-ratio="1.15")

  .c-grid

    .retouch-benefits__block-wrapper
      div
        .retouch-benefits__block
          .retouch-benefits__block-head
            .retouch-benefits__block-image
              img(src="img/img-retouch-benefits-1.png" srcset="img/img-retouch-benefits-1@2x.png 2x" alt="")
          .retouch-benefits__block-body
            p.retouch-benefits__block-title 2 out of 3 candidates don’t apply directly.
            .retouch-benefits__block-line
            p.retouch-benefits__block-desc We call them passive talent – people who are already employed and are not actively looking for a change. They constitute 70% of the workforce.
          .retouch-benefits__block-footer
            p.retouch-benefits__block-info (Source: LinkedIn Global Talent Trends, 2015)
      div
        .retouch-benefits__block
          .retouch-benefits__block-head
            .retouch-benefits__block-image
              img(src="img/img-retouch-benefits-2.png" srcset="img/img-retouch-benefits-2@2x.png 2x" alt="")
          .retouch-benefits__block-body
            p.retouch-benefits__block-title The vast majority, however, is open to new opportunities.
            .retouch-benefits__block-line
            p.retouch-benefits__block-desc Conventional job boards and recruitment tools are just not effective in attracting them. That said, 90% of the global workforce is open to a new job.
          .retouch-benefits__block-footer
            p.retouch-benefits__block-info (Source: LinkedIn Global Talent Trends, 2016)
      div
        .retouch-benefits__block
          .retouch-benefits__block-head
            .retouch-benefits__block-image
              img(src="img/img-retouch-benefits-3.png" srcset="img/img-retouch-benefits-3@2x.png 2x" alt="")
          .retouch-benefits__block-body
            p.retouch-benefits__block-title The trick: Get them through the crowd.
            .retouch-benefits__block-line
            p.retouch-benefits__block-desc We tried activating passive talent, and it doesn’t work. But: what works is having them referred through their network.
          .retouch-benefits__block-footer
            p.retouch-benefits__block-subtitle Public Talent Crowdsourcing has arrived.

// SECTION :: END
