// SECTION :: START

section#retouch-convinced.retouch-convinced

  .retouch-convinced__bg
    span(parallax-js data-stellar-ratio="1.1")
    span(parallax-js data-stellar-ratio="0.9")

  .c-grid

    p.retouch-convinced__title.c-title.c-title--white.viewport-hide-js(data-animation-delay='0.2s') Not yet convinced? Here is why you should work with us.
    .retouch-convinced__line.viewport-hide-js(data-animation-delay='0.25s')

    .retouch-convinced__wrapper

      .advantages__block-wrapper
        .advantages__block-col.advantages__block-col-1.viewport-hide-js(data-animation-delay='0.2s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-1', '')
            .advantages__block-body
              p.advantages__block-title Exceptionally fast delivery
              p.advantages__block-desc By tapping into the public, we deliver top-notch referrals of passive talent within mere days.

        .advantages__block-col.advantages__block-col-2.viewport-hide-js(data-animation-delay='0.3s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-2', '')

            .advantages__block-body
              p.advantages__block-title No static fees
              p.advantages__block-desc We don’t charge fees on the candidate’s annual salary. Instead, you select how much you would like to reward someone for referring the perfect candidate.

          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-3', '')

            .advantages__block-body
              p.advantages__block-title Pay only if you hire
              p.advantages__block-desc No hire, no fee. Assess every candidate for 3 months – full refunds credited back if you don't retain.

        .advantages__block-col.advantages__block-col-3.viewport-hide-js(data-animation-delay='0.4s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-4', '')
            .advantages__block-body
              p.advantages__block-title Outstanding performance
              p.advantages__block-desc Fast delivery of referrals, algorithmic sorting, easy management through our dashboard, amazing return on investment.

          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-11', '')
            .advantages__block-body
              p.advantages__block-title Used by the best
              p.advantages__block-desc Purpose-built by HR for HR. Used by industry leaders across industries and markets.

        .advantages__block-col.advantages__block-col-4.viewport-hide-js(data-animation-delay='0.5s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-5', '')

            .advantages__block-body
              p.advantages__block-title Fully compliant
              p.advantages__block-desc We are fully GDPR compliant and have every candidate verify their acceptance before being referred.

// SECTION :: END
