// SECTION :: START

section#retouch-geography.retouch-geography
  .c-grid-fluid

    p.retouch-geography__title.c-title We deliver. Regardless of industry and geography.
    .retouch-geography__line
    p.retouch-geography__desc We have filled positions around the world across industries and sectors.

    .retouch-geography__wrapper

      img.retouch-geography__image(src="img/img-retouch-geography.svg" alt="")

// SECTION :: END
