// SECTION :: START

section#retouch-geography.retouch-geography
  .c-grid-fluid

    p.retouch-geography__title.c-title.viewport-hide-js(data-animation-delay='0.2s') We deliver. Regardless of industry and geography.
    .retouch-geography__line.viewport-hide-js(data-animation-delay='0.25s')
    p.retouch-geography__desc.viewport-hide-js(data-animation-delay='0.3s') We have filled positions around the world across industries and sectors.

    .retouch-geography__wrapper.viewport-hide-js(data-animation-delay='0.4s')

      img.retouch-geography__image(src="img/img-retouch-geography.svg" alt="")

// SECTION :: END
