// SECTION learn :: START

section#retouch-learn.retouch-learn
  .c-grid

    .retouch-learn__wrapper.viewport-hide-js(data-animation-delay='0.2s')

      .retouch-learn__wrapper-bg
        span(parallax-js data-stellar-ratio="0.9")
        span(parallax-js data-stellar-ratio="1.1")

      .retouch-learn__wrapper-left

        p.retouch-learn__title.c-title Learn more and revolutionize your recruitment today.
        .retouch-learn__btn
          a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
            span Request a product demo

      .retouch-learn__wrapper-right
        img(src="img/img-retouch-learn.svg" alt="")

// SECTION learn :: END
