// SECTION :: START

section#retouch-main.retouch-main

  .retouch-main__bg
    span(parallax-js data-stellar-ratio="0.9")
    span(parallax-js data-stellar-ratio="1.1")

    .retouch-main__bg-inner

  .c-grid
    .retouch-main__wrapper
      .retouch-main__wrapper-left

        div
          h1.retouch-main__title The best candidates don't apply directly.
          p.retouch-main__subtitle Hire them anyway through public talent crowdsourcing.
          .retouch-main__btn
            a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
              span Request a product demo

      .retouch-main__wrapper-right

    a.retouch-main__link(href="#")
      span Learn More
      i.icon-font.icon-corner

  .retouch-main__content
    .retouch-main__content-left

    .retouch-main__content-right
      img(src="img/img-retouch-main.png" srcset="img/img-retouch-main@2x.png 2x" alt="")
      img(src="img/img-retouch-main--mobile.png" srcset="img/img-retouch-main--mobile@2x.png 2x" alt="")

// SECTION :: END
