// SECTION :: START

section#retouch-with.retouch-with
  .c-grid

    p.retouch-with__title.c-title.viewport-hide-js(data-animation-delay='0.2s') Whom we worked with
    .retouch-with__line.viewport-hide-js(data-animation-delay='0.25s')
    p.retouch-with__desc.viewport-hide-js(data-animation-delay='0.3s') Our clients are as diverse as the roles that we fill.

    .retouch-with__slider.viewport-hide-js(data-animation-delay='0.4s')

      .retouch-with__slider-btn-wrapper
        a.retouch-with__slider-btn.retouch-with__slider-btn--prev(href="#")
          i.icon-font.icon-corner
        a.retouch-with__slider-btn.retouch-with__slider-btn--next(href="#")
          i.icon-font.icon-corner

      .retouch-with__slider-wrapper

        mixin swiperContent()
          .swiper-slide
            img(src="img/img-retouch-with-1.png" srcset="img/img-retouch-with-1@2x.png 2x" alt="")
          .swiper-slide
            img(src="img/img-retouch-with-2.png" srcset="img/img-retouch-with-2@2x.png 2x" alt="")
          .swiper-slide
            img(src="img/img-retouch-with-3.png" srcset="img/img-retouch-with-3@2x.png 2x" alt="")
          .swiper-slide
            img(src="img/img-retouch-with-4.png" srcset="img/img-retouch-with-4@2x.png 2x" alt="")

        +swiper('retouchWithSlider', 'swiperContent', false, false, false)


// SECTION :: END
