// SECTION :: START

section#retouch-works.retouch-works

  .retouch-works__bg
    span(parallax-js data-stellar-ratio="0.9")
    span(parallax-js data-stellar-ratio="1.1")

  .c-grid-fluid

    p.retouch-works__title.c-title.viewport-hide-js(data-animation-delay='0.2s') Here is how it works:
    .retouch-works__line.viewport-hide-js(data-animation-delay='0.25s')
    p.retouch-works__desc.viewport-hide-js(data-animation-delay='0.3s') We incentivize the public to refer candidates from their network directly to you. Imagine having 100s of agents working on your position!

    .retouch-works__wrapper
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInLeft')
            img(src="img/img-retouch-works-1.png" srcset="img/img-retouch-works-1@2x.png 2x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 01
            .retouch-works__block-title
              p Post your job
            .retouch-works__block-desc
              p Tell us about your perfect candidate and specify a reward to incentivize referrals.
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInRight')
            img(src="img/img-retouch-works-2.png" srcset="img/img-retouch-works-2@2x.png 2x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 02
            .retouch-works__block-title
              p We advertise your role to relevant networks
            .retouch-works__block-desc
              p We custom-build an audience on social media channels and advertise your job & the offered reward - not to the candidate, but to those people who are the most likely to have a relevant candidate in their network.
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInLeft')
            img(src="img/img-retouch-works-3.png" srcset="img/img-retouch-works-3@2x.png 2x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 03
            .retouch-works__block-title
              p Receive unlimited referrals
            .retouch-works__block-desc
              p You receive referrals of highly qualified candidates, filtered through our algorithm, directly on your dashboard. Easily drag & drop them through the recruitment process.
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInRight')
            img(src="img/img-retouch-works-4.png" srcset="img/img-retouch-works-4@2x.png 2x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 04
            .retouch-works__block-title
              p Hire the best – only pay if you retain
            .retouch-works__block-desc
              p The reward you specified is only invoiced when your selected candidate accepts your job offer, and is only released to the referrer when you retain the candidate for 3 months from the date of joining. If you don't retain, you get your money back - you remain in total control!

// SECTION :: END
