@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/Airbnb Cereal App-Light.eot");
  src: url("../fonts/Airbnb Cereal App-Light.otf") format("opentype"), url("../fonts/Airbnb Cereal App-Light.eot?iefix") format("embedded-opentype"), url("../fonts/Airbnb Cereal App-Light.woff2") format("woff2"), url("../fonts/Airbnb Cereal App-Light.woff") format("woff"), url("../fonts/Airbnb Cereal App-Light.ttf") format("truetype"), url("../fonts/Airbnb Cereal App-Light.svg#Airbnb Cereal App") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/Airbnb Cereal App-Black.eot");
  src: url("../fonts/Airbnb Cereal App-Black.otf") format("opentype"), url("../fonts/Airbnb Cereal App-Black.eot?iefix") format("embedded-opentype"), url("../fonts/Airbnb Cereal App-Black.woff2") format("woff2"), url("../fonts/Airbnb Cereal App-Black.woff") format("woff"), url("../fonts/Airbnb Cereal App-Black.ttf") format("truetype"), url("../fonts/Airbnb Cereal App-Black.svg#Airbnb Cereal App") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/Airbnb Cereal App-Medium.eot");
  src: url("../fonts/Airbnb Cereal App-Medium.otf") format("opentype"), url("../fonts/Airbnb Cereal App-Medium.eot?iefix") format("embedded-opentype"), url("../fonts/Airbnb Cereal App-Medium.woff2") format("woff2"), url("../fonts/Airbnb Cereal App-Medium.woff") format("woff"), url("../fonts/Airbnb Cereal App-Medium.ttf") format("truetype"), url("../fonts/Airbnb Cereal App-Medium.svg#Airbnb Cereal App") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/Airbnb Cereal App-Book.eot");
  src: url("../fonts/Airbnb Cereal App-Book.otf") format("opentype"), url("../fonts/Airbnb Cereal App-Book.eot?iefix") format("embedded-opentype"), url("../fonts/Airbnb Cereal App-Book.woff2") format("woff2"), url("../fonts/Airbnb Cereal App-Book.woff") format("woff"), url("../fonts/Airbnb Cereal App-Book.ttf") format("truetype"), url("../fonts/Airbnb Cereal App-Book.svg#Airbnb Cereal App") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/Airbnb Cereal App-Bold.eot");
  src: url("../fonts/Airbnb Cereal App-Bold.otf") format("opentype"), url("../fonts/Airbnb Cereal App-Bold.eot?iefix") format("embedded-opentype"), url("../fonts/Airbnb Cereal App-Bold.woff2") format("woff2"), url("../fonts/Airbnb Cereal App-Bold.woff") format("woff"), url("../fonts/Airbnb Cereal App-Bold.ttf") format("truetype"), url("../fonts/Airbnb Cereal App-Bold.svg#Airbnb Cereal App") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/Airbnb Cereal App-ExtraBold.eot");
  src: url("../fonts/Airbnb Cereal App-ExtraBold.otf") format("opentype"), url("../fonts/Airbnb Cereal App-ExtraBold.eot?iefix") format("embedded-opentype"), url("../fonts/Airbnb Cereal App-ExtraBold.woff2") format("woff2"), url("../fonts/Airbnb Cereal App-ExtraBold.woff") format("woff"), url("../fonts/Airbnb Cereal App-ExtraBold.ttf") format("truetype"), url("../fonts/Airbnb Cereal App-ExtraBold.svg#Airbnb Cereal App") format("svg");
  font-style: normal;
  font-weight: 800;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  height: auto;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
  -webkit-overflow-scrolling: auto;
}

@media screen and (max-width: 1023px) {
  /* line 6, src/scss/_shared/_main-setting-reset.scss */
  html.is-hideScroll,
  body.is-hideScroll {
    height: 100%;
    max-height: 100%;
  }
}

/* line 18, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll {
  height: 100%;
  max-height: 100%;
}

/* line 25, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 31, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f7ff));
  background-image: -webkit-linear-gradient(top, #ffffff, #f8f7ff);
  background-image: -o-linear-gradient(top, #ffffff, #f8f7ff);
  background-image: linear-gradient(to bottom, #ffffff, #f8f7ff);
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Airbnb Cereal App", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 50, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 56, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 63, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 66, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 73, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 107, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 112, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 143, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 147, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1200px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1200px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=maps/app.css.map */
