// SECTION referral body :: START

section#referral-body.referral-body

  .referral-body__bg
    div
      img(src="img/crowdsourcing-shape-1.svg")
    div

  .c-grid
    .referral-body__wrapper

      p.referral-body__desc We are a talent crowdsourcing portal on which anyone can refer friends, family, colleagues, and peers to great jobs.
      p.referral-body__desc When accepting the referral, your profile will be sent to the employer, who then may reach out directly to discuss the opportunity in detail.
      p.referral-body__desc Accepting the referral is free and will take only a few moments. To proceed, please answer the following question(s):

      .c-modal
        .c-modal__row.c-modal__row-1
          p.c-modal__row-title How many years of experience do you have?

          .c-modal__range
            div
              input.c-modal__range-result(type='text' value='10')
            div
              input(type='range' min='1' max='30' step='1' value='10')

        .c-modal__row.c-modal__row-1
          p.c-modal__row-title Which sectors have you worked in?

          .c-modal__tags
            select.multipleSelect(multiple='', name='language')
              option(selected='', value='Healthcare') Healthcare
              option(value='Automotive') Automotive
              option(value='Fast-moving consumer goods (FMCG)') Fast-moving consumer goods (FMCG)
              option(value='Heating, ventilation, air condition (HVAC)') Heating, ventilation, air condition (HVAC)
              option(value='Hotels') Hotels
              option(value='HR Consulting') HR Consulting

        .c-modal__row.c-modal__row-1
          p.c-modal__row-title Please upload your CV so we can share it with the employer:

          .c-modal__browse
            input#file(type='file' name='' inputfile-js)
            label(for='file')
              span Browse
              i.icon-font.icon-file-text
            p
              span Browse your files

          .c-modal__browse-info Valid resume files are DOC, DOCX or PDF. Max of 5 MB

        .c-modal__row.c-modal__row-1
          p.c-modal__row-title Please answer the following question(s) for the employer:

          .c-modal__input.c-modal__input-1
            input(type='text' name='' placeholder='Write Something')

        .c-modal__row.c-modal__row-1
          p.c-modal__row-title What monthly salary would you expect?

          .c-modal__range.c-modal__range--wrap
            div
              input.c-modal__range-sum(type='text' value='500')
            div
              input(type='range' min='0' max='100000' step='500' value='5000')
            div
              .c-modal__input.c-modal__input--select.c-modal__input-1
                select(name='')
                  option(selected disabled) Currency
                  option() USD
                  option() EUR
                  option() UAH

        .c-modal__optional
          .c-modal__optional-head
            i.icon-font.icon-corner
            p(data-show-val='WOULD YOU LIKE TO PROVIDE OPTIONAL INFORMATION TO THE EMPLOYER?' data-hide-val='WOULD YOU LIKE TO PROVIDE OPTIONAL INFORMATION TO THE EMPLOYER?') WOULD YOU LIKE TO PROVIDE OPTIONAL INFORMATION TO THE EMPLOYER?

          .c-modal__optional-body
            div
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Mobile phone')
              .c-modal__input.c-modal__input--select.c-modal__input-1
                select(name='')
                  option(selected disabled) Highest degree
                  option() Action
                  option() More Action
                  option() One More Action
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Current Residence (City / Country)')
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Certifications & Diplomas')
              .c-modal__input.c-modal__input--select.c-modal__input-1
                select(name='')
                  option(selected disabled) Career Level
                  option() Action
                  option() More Action
                  option() One More Action
              .c-modal__input.c-modal__input--select.c-modal__input-1
                select(name='')
                  option(selected disabled) Current job function
                  option() Action
                  option() More Action
                  option() One More Action
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Current Designation')
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Current Employer')
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Languages known')
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Skills')
              .c-modal__input.c-modal__input-1
                input(type='text' name='' placeholder='Anything else the employer should know?')

        .c-modal__btn-wrapper
          a.c-modal__btn(href='#' title='')
            span YES, I WANT TO BE REFERRED!

        .referral-body__link-wrapper
          a.referral-body__link(href='#' title='') No, I dont want to be referred for this role.

// SECTION referral body :: END