// SECTION referral footer :: START

section#referral-footer.referral-footer

  .referral-footer__bg
    div(parallax-js data-stellar-ratio="1.1")

  .c-grid
    .referral-footer__wrapper

      .referral-footer__line

      p.referral-footer__desc Upon you agreeing to the referral, we will retain the data that you and your referrer have provided until you request deletion of it. You can delete your data at any time by visiting referbility.com. Your data will be forwarded to the employer who posted the job you have been referred to, or to employers of any other jobs that are posted on referbility.com and that you agree to being referred to in order for the employer to assess your candidacy for the position(s) that you agreed to being referred to. Please note that referbility.com has no control over the way employers who you agree to be referred to process, manage and/or store your data. The Terms & Conditions as posted on referbility.com and amended from time to time apply.

// SECTION referral footer :: END