// SECTION referral main :: START

section#referral-main.referral-main

  .referral-main__bg
    .referral-main__bg-top
      div(parallax-js data-stellar-ratio="1.1")
      div(parallax-js data-stellar-ratio="0.9")
    .referral-main__bg-bottom

  .c-grid
    .referral-main__wrapper

      .logo__wrapper
        .logo
          a.logo__link(href='/' title='')
            img.logo__img(src="img/logo--white.png" srcset="img/logo--white@2x.png 2x")

      h1.referral-main__title Would you like to be referred?
      p.referral-main__subtitle Jhon has reffered you to a job on referbility.com!

      .referral-main__box

        .referral-main__box-head
          div
            img(src='')
          div
            p.referral-main__box-title Chief Financial Officer - Thermal Power Plan

            ul.referral-main__box-info.referral-main__box-info-1
              li
                div
                  p Experience:
                div
                  span 15 - 20 years
              li
                div
                  p Job Function:
                div
                  span Finance, Accounting and Taxing
              li
                div
                  p Location:
                div
                  span Riyadh, Saudi Arabia

        .referral-main__box-body

          .referral-main__box-row
            .referral-main__box-col

              ul.referral-main__box-info
                li
                  div
                    p Industry:
                  div
                    i Energy and Power
                li
                  div
                    p Degree:
                  div
                    span Bachelor
                li
                  div
                    p Salary:
                  div
                    span SAR 12,000 to SAR 15,000 per month
                li
                  div
                    p Job Type:
                  div
                    span Full-time (unlimited)

            .referral-main__box-col

              ul.referral-main__box-info
                li
                  div
                    p Career Level:
                  div
                    span C Level
                li
                  div
                    p Languages:
                  div
                    span English
                li
                  div
                    p Skills required:
                  div
                    u Budgetting
                    u Finance
                    u Corporate Finance

          a.referral-main__box-link(href='#' title='') Click here to see more details.

// SECTION referral main :: END
