// SECTION :: START

section#subscribe-get.subscribe-get

  .subscribe-get__bg
    img(src="img/crowdsourcing-shape-1.svg")

  .c-grid
    .subscribe-get__wrapper

      p.subscribe-get__title Get the latest jobs by email
      .subscribe-get__line

      form.subscribe-get__form(action='' method='' autocomplete='off')
        .subscribe-get__form-field.subscribe-get__form-field--input
          input(type='text' name='' placeholder='Type your name' required)
        .subscribe-get__form-field.subscribe-get__form-field--input
          input(type='text' name='' placeholder='Type your email' required)
        .subscribe-get__form-field.subscribe-get__form-field--input
          input(type='text' name='' placeholder='Which industries would you like to receive job alerts for?' required)
        .subscribe-get__form-field.subscribe-get__form-field--input
          input(type='text' name='' placeholder='Which countries would you like to receive job alerts for?' required)
        .subscribe-get__form-field.subscribe-get__form-field--btn
          button.c-btn.c-btn--bg.c-btn--bg-gradient(type='submit')
            span Subscribe

// SECTION :: END
