// SECTION :: START

section#subscribe-main.subscribe-main

  .subscribe-main__bg
    span(parallax-js data-stellar-ratio="0.9")
    span(parallax-js data-stellar-ratio="1.1")

    .subscribe-main__bg-inner

  .c-grid
    .subscribe-main__wrapper
      .subscribe-main__wrapper-left

        div
          h1.subscribe-main__title Subscribe to our job alerts and receive new jobs directly in your inbox.
          p.subscribe-main__subtitle Never miss an opportunity to refer!

      .subscribe-main__wrapper-right

  .subscribe-main__content
    .subscribe-main__content-left

    .subscribe-main__content-right
      img(src="img/img-subscribe-main.png" srcset="img/img-subscribe-main@2x.png 2x, img/img-subscribe-main@3x.png 3x" alt="")
      img(src="img/img-subscribe-main--mobile.png" srcset="img/img-subscribe-main--mobile@2x.png 2x, img/img-subscribe-main--mobile@3x.png 3x" alt="")

// SECTION :: END
