&-main {
  position: relative;
  padding-top: 310px;
  padding-bottom: 125px;
  @include adaptive(1335) {
    padding-top: 250px;
  }
  @include adaptive(1279) {
    padding-bottom: 75px;
  }
  @include adaptive(767) {
    padding-top: 150px;
    padding-bottom: 0;
  }

  &__bg {
    z-index: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -200px;
    width: calc(100% + 400px);
    height: calc(100% - 50px);
    border-top-left-radius: 50% 0;
    border-top-right-radius: 50% 0;
    border-bottom-right-radius: 50% 300px;
    border-bottom-left-radius: 50% 300px;
    @include adaptive(767) {
      left: -100px;
      width: calc(100% + 200px);
      height: 80%;
      border-bottom-right-radius: 50% 100px;
      border-bottom-left-radius: 50% 100px;
    }

    span {
      position: absolute;
      width: 360px;
      height: 360px;
      border-radius: 50%;

      &:nth-of-type(1) {
        left: 125px;
        bottom: -100px;
        border: 115px solid rgba(169,171,254,0.20);
        @include adaptive(767) {
          left: -75px;
        }
      }
      &:nth-of-type(2) {
        top: -100px;
        right: 125px;
        border: 130px solid rgba(169,171,254,0.30);
        @include adaptive(767) {
          display: none !important;
        }
      }
    }

    &-inner {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(220deg, #8181FF 18%, #5153DC 100%);
    }
  }

  &__content {
    z-index: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100% + 75px);
    @include adaptive(767) {
      position: static;
    }

    &-left,
    &-right {
      height: 100%;
    }

    &-left {
      @include adaptive(767) {
        display: none;
      }
    }

    &-right {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 55%;
      margin-left: auto;
      padding-left: 30px;
      @include adaptive(1279) {
        align-items: center;
      }
      @include adaptive(767) {
        width: 100%;
        padding-left: 0;
      }

      img {
        position: relative;
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        @include adaptive(1535) {
          right: -100px;
        }
        @include adaptive(1023) {
          right: 0;
        }

        //&:nth-of-type(1) {
        //  @include adaptive(767) {
        //    display: none;
        //  }
        //}
        //&:nth-of-type(2) {
        //  display: none;
        //  @include adaptive(767) {
        //    display: block;
        //  }
        //}
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;

    &-left {
      width: 45%;
      @include adaptive(767) {
        width: 100%;
      }
    }

    &-right {
      width: 55%;
      @include adaptive(767) {
        display: none;
      }
    }
  }

  &__title {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 1.25px;
    line-height: 1.2;
    text-align: left;
    color: #fff;
    @include adaptive(1439) {
      font-size: 50px;
    }
    @include adaptive(1279) {
      font-size: 45px;
    }
    @include adaptive(1023) {
      font-size: 40px;
    }
    @include adaptive(767) {
      text-align: center;
      font-size: 36px;
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 510px;
    padding-bottom: 131px;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 35px;
    text-align: left;
    color: #fff;
    @include adaptive(1279) {
      font-size: 18px;
    }
    @include adaptive(767) {
      padding-bottom: 30px;
      text-align: center;
      font-size: 16px;
      line-height: normal;
    }
  }

  &__link {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include adaptive(767) {
      display: none;
    }

    span {
      padding-bottom: 10px;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0.5px;
      text-align: center;
    }

    .icon-font {
      color: $c-white;
      font-size: 20px;
      transform: rotate(90deg);
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-duration: 1.75s;
      animation-name: animateLinkCorner;
    }
  }
}
