// SECTION :: START

.contacts {
  @import "contacts--main";
  @import "contacts--info";

  &-team {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(to top, rgba(81, 83, 220, 0.05) 100%, rgba(81, 83, 220, 0.1) 32%);

    &__bg {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      span {
        position: absolute;
        border-radius: 50%;

        &:nth-of-type(1) {
          bottom: 60px;
          left: -110px;
          width: 410px;
          height: 410px;
          border: solid 40px rgba(255, 255, 255, 0.5);
        }

        &:nth-of-type(2) {
          top: 30px;
          right: -90px;
          width: 410px;
          height: 410px;
          border: solid 130px rgba(255, 255, 255, 0.4);
        }
      }
    }

    &__wrapper {
      z-index: 2;
      position: relative;
    }

    &__title {
      padding-bottom: 20px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #091e42;
    }

    &__subtitle {
      padding-bottom: 40px;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-align: center;
      color: #091e42;
    }

    &__line {
      width: 50px;
      margin: 0 auto 70px;
      height: 5px;
      background-color: #29de9c;
    }

    &__visual {
      position: relative;
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        @include adaptive(767) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .swiper {
        &-container {
          @include adaptive(767) {
            width: 100%;
            max-width: calc(100% - 90px);
            margin-left: auto;
            margin-right: auto;
          }
        }

        &-wrapper {
          align-items: stretch;
          justify-content: space-between;
          @include adaptive(767) {
            align-items: center;
            justify-content: unset;
          }
        }

        &-slide {
          width: 100%;
          max-width: calc((100% - 100px) / 5);
          height: auto;
          //@include adaptive(1023) {
          //  max-width: calc((100% - 30px) / 3);
          //}
          @include adaptive(767) {
            max-width: unset;
          }
        }
      }
    }

    &__user {
      width: 100%;
      max-width: 220px;
      margin-left: 15px;
      margin-right: 15px;
      @include adaptive(767) {
        margin-left: auto;
        margin-right: auto;

        &:first-of-type {
          padding-bottom: 30px;
        }
      }

      &-ava {
        overflow: hidden;
        position: relative;

        img {
          display: block;
          max-width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &-title {
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #091e42;
      }

      &-position {
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 1.67;
        letter-spacing: 0.5px;
        text-align: center;
        color: #344563;
      }

      &-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 50%;
          border: solid 1px rgba(103, 104, 236, 0.6);
          box-shadow: 0 5px 20px 0 rgba(135, 131, 157, 0.15);
          background-color: #ffffff;
          @include transition(border-color, background-color);

          &:hover {
            border-color: rgba(103, 104, 236, 1);
            background-color: rgba(103, 104, 236, 1);
            @include transition(border-color, background-color);

            .icon-font {
              color: $c-white;
              @include transition(color);
            }
          }

          .icon-font {
            color: #6364e9;
            font-size: 20px;
            @include transition(color);
          }
        }
      }

      &-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 70px;

        .swiper {
          &-container {
            @include adaptive(767) {
              width: 100%;
              max-width: calc(100% - 90px);
              margin-left: auto;
              margin-right: auto;
            }
          }

          &-wrapper {
            align-items: stretch;
            justify-content: space-between;
            @include adaptive(767) {
              align-items: center;
              justify-content: unset;
            }
          }

          &-slide {
            width: 100%;
            max-width: calc((100% - 50px) / 2);
            height: auto;
            @include adaptive(767) {
              max-width: unset;
            }
          }
        }
      }

      &-btn {
        overflow: hidden;
        z-index: 10;
        position: absolute;
        top: calc(50% - 70px);
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: solid 1px #dfdfff;
        border-radius: 50%;
        box-shadow: 0 5px 10px 0 rgba(135, 131, 157, 0.1);
        background-color: #ffffff;
        @include transition(opacity, box-shadow);

        &.swiper-button-disabled {
          opacity: 0;
          pointer-events: none;
          @include transition(opacity);
        }

        &:after {
          content: '';
          opacity: 1;
          visibility: visible;
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-image: linear-gradient(221deg, #8181ff 73%, #5153dc);
          backface-visibility: hidden;
          transform-origin: center;
          transform: scale(1);
          @include transition(opacity, visibility, transform);
        }

        &:hover {
          box-shadow: 0 20px 40px 0 rgba(135, 119, 217, 0.1);
          @include transition(box-shadow);

          &:after {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            @include transition(opacity, visibility, transform);
          }

          .icon-font {
            color: #ffffff;
            @include transition(color);
          }
        }

        .icon-font {
          z-index: 2;
          position: relative;
          color: #fff;
          font-size: 12px;
          @include transition(color);
        }

        &-prev {
          left: 0;

          .icon-font {
            transform: scaleX(-1);
          }
        }

        &-next {
          right: 0;
        }

        &-wrapper {
          display: none;
          align-items: center;
          justify-content: center;
          @include adaptive(767) {
            display: flex;
          }
        }
      }
    }

    &__btn {
      overflow: hidden;
      z-index: 10;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: solid 1px #dfdfff;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0 rgba(135, 131, 157, 0.1);
      background-color: #ffffff;
      @include transition(opacity, box-shadow);

      &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
        @include transition(opacity);
      }

      &:after {
        content: '';
        opacity: 1;
        visibility: visible;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-image: linear-gradient(221deg, #8181ff 73%, #5153dc);
        backface-visibility: hidden;
        transform-origin: center;
        transform: scale(1);
        @include transition(opacity, visibility, transform);
      }

      &:hover {
        box-shadow: 0 20px 40px 0 rgba(135, 119, 217, 0.1);
        @include transition(box-shadow);

        &:after {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          @include transition(opacity, visibility, transform);
        }

        .icon-font {
          color: #ffffff;
          @include transition(color);
        }
      }

      .icon-font {
        z-index: 2;
        position: relative;
        color: #fff;
        font-size: 12px;
        @include transition(color);
      }

      &-prev {
        left: 0;

        .icon-font {
          transform: scaleX(-1);
        }
      }

      &-next {
        right: 0;
      }

      &-wrapper {
        display: none;
        align-items: center;
        justify-content: center;
        @include adaptive(767) {
          display: flex;
        }
      }
    }
  }

  &-connect {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $c-white;
    @include adaptive(767) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__title {
      padding-bottom: 20px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #091e42;
      @include adaptive(767) {
        font-size: 28px;
      }
    }

    &__line {
      width: 50px;
      margin: 0 auto 25px;
      height: 5px;
      background-color: #29de9c;
    }

    &__block {
      display: flex;
      box-shadow: 0 5px 20px 0 rgba(135, 131, 157, 0.15);
      @include adaptive(767) {
        flex-direction: column;
      }

      &-left,
      &-right {
        width: 50%;
        @include adaptive(767) {
          width: 100%;
        }
      }

      &-left {
        padding: 40px;
        @include adaptive(767) {
          padding: 30px 15px;
        }
      }

      &-right {
        position: relative;
        @include adaptive(767) {
          height: 280px;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        padding-bottom: 25px;

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      &-link {
        display: flex;
        align-items: center;
        @include adaptive(767) {
          align-items: flex-start;
        }

        &:hover {
          p {
            color: #5153dc;
            @include transition(color);
          }
        }

        > div {
          &:nth-of-type(1) {
            width: 60px;
          }
          &:nth-of-type(2) {
            flex: 1;
            min-width: 1px;
            max-width: 100%;
          }
        }

        p {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.5px;
          color: #091e42;
          @include transition(color);
        }

        span {
          font-size: 15px;
          line-height: 1.67;
          letter-spacing: 0.5px;
          color: #344563;
        }
      }

      &-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 5px 20px 0 rgba(135, 131, 157, 0.15);
        border: solid 1px rgba(103, 104, 236, 0.6);
        background-color: #ffffff;

        .icon-font {
          color: #6364e9;
          font-size: 20px;
        }
      }
    }

    .board-subscribe__box {
      width: 100%;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      box-shadow: 0 5px 20px 0 rgba(135, 131, 157, 0.15);
    }
  }

  &-form {
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(to top, rgba(81, 83, 220, 0.05) 100%, rgba(81, 83, 220, 0.1) 32%);
    @include adaptive(767) {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    &__bg {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      span {
        position: absolute;
        top: -50px;
        right: -50px;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        border: solid 130px rgba(255, 255, 255, 0.4);
      }
    }

    &__wrapper {
      z-index: 2;
      position: relative;
    }

    &__title {
      padding-bottom: 20px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #091e42;
      @include adaptive(767) {
        font-size: 28px;
      }
    }

    &__subtitle {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 30px;
      @include adaptive(767) {
        justify-content: flex-start;
      }

      .icon-font {
        margin-right: 10px;
        color: #6364e9;
        font-size: 22px;
      }

      span {
        font-size: 20px;
        letter-spacing: 0.5px;
        color: #091e42;
      }
    }

    &__line {
      width: 50px;
      margin: 0 auto 40px;
      height: 5px;
      background-color: #29de9c;
    }

    &__box {
      width: 100%;
      max-width: 1170px;
      padding: 45px 70px;
      border-radius: 16px;
      box-shadow: 0 5px 20px 0 rgba(135, 131, 157, 0.15);
      border: solid 1px #dfdfff;
      background-color: #ffffff;
      @include adaptive(767) {
        padding: 45px 25px;
      }

      &-group {
        display: flex;
        justify-content: space-between;
        @include adaptive(767) {
          flex-wrap: wrap;
        }

        > div {
          width: 100%;
          max-width: calc((100% - 30px) / 2);
          @include adaptive(767) {
            max-width: 100%;
          }
        }
      }

      &-field {
        position: relative;
        padding-bottom: 30px;

        &--btn {
          padding-bottom: 0;
        }

        .c-btn {
          width: 100%;
          max-width: 220px;
          margin-left: auto;
          @include adaptive(767) {
            max-width: 100%;
          }
        }
      }

      &-label {
        display: flex;
        padding-bottom: 10px;
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #091e42;
      }

      &-textarea,
      &-input {
        outline: none;
        display: flex;
        width: 100%;
        height: 53px;
        padding: 0 25px;
        border-radius: 4px;
        border: none;
        box-shadow: none;
        background-color: rgba(236, 235, 246, 0.8);
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #091e42;
        @include inputPlaceholder {
          font-size: 15px;
          letter-spacing: 0.5px;
          color: rgba(#091e42, 0.6);
        }
      }

      &-textarea {
        resize: none;
        height: 140px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

// SECTION :: END
