// FOOTER :: START

footer#footer.footer

  .footer__bg
    .footer__bg-top
    .footer__bg-bottom

  .footer__wrapper.footer__wrapper-1

    .footer__started-wrapper

      .footer__started-bg
        .footer__started-bg-path.footer__started-bg-path-1
        .footer__started-bg-path.footer__started-bg-path-2

      .footer__started
        p.footer__started-title.c-title.c-title--white Get Started
        p.footer__started-desc!= "Create your referbility.com account for free and start sourcing the best candidates in the market within days.<br>Or have a quick chat with us, we’d like that too!"

        .footer__started-btn-wrapper
          a.footer__started-btn.c-btn.c-btn--bg(href='#' title='') Request a demo

  .c-grid
    .footer__wrapper.footer__wrapper-2

      .footer__row
        .footer__col.footer__col-1

          .logo.logo--footer
            a.logo__link(href='/' title='')
              img.logo__img(src="img/logo--footer.png")

          p.footer__desc.footer__desc-1 referbility.com is the World’s first public talent crowdsourcing portal.
          p.footer__desc.footer__desc-2 We connect passive talent with employers by allowing users to refer peers to great jobs & paying referrers for successful referrals.

        .footer__col.footer__col-2

          p.footer__title Quick Link

          ul.footer__nav
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Home
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Search Jobs
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Blog
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') FAQs
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Terms & Conditions

        .footer__col.footer__col-3

          p.footer__title Company

          ul.footer__nav
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') For Referrers
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') For Employers
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Contact Us

    .c-grid
      .footer__wrapper.footer__wrapper-3

        .copyright
          p.copyright__text!= "© referbility.com - All Right Reserved - <a href='#'>Terms of Use</a> / <a href='#'>Privacy Policy</a>"

// FOOTER :: END 3025