// FOOTER :: START

footer#footer.footer(class!= (pageClassName === 'p-referrer') ? 'footer--referrer':'')

  .footer__bg
    .footer__bg-top
    .footer__bg-bottom

  .footer__wrapper.footer__wrapper-1

    .footer__started-wrapper

      .footer__started-bg
        .footer__started-bg-path.footer__started-bg-path-1(parallax-js data-stellar-ratio="1.15")
        .footer__started-bg-path.footer__started-bg-path-2(parallax-js data-stellar-ratio="0.9")

      .footer__started
        p.footer__started-title.c-title.c-title--white.viewport-hide-js(data-animation-delay='0.2s') Get Started
        if(pageClassName === 'p-referrer')
          p.footer__started-desc.viewport-hide-js(data-animation-delay='0.25s')!= "Create your referbility.com account for free and start referring and earning rewards today."
        else
          p.footer__started-desc.viewport-hide-js(data-animation-delay='0.25s')!= "Create your referbility.com account for free and start sourcing the best candidates in the market within days. Or have a quick chat with us, we’d like that too!"

        .footer__started-btn-wrapper.viewport-hide-js(data-animation-delay='0.3s')
          a.footer__started-btn.c-btn.c-btn--bg.c-btn--bg-blue(href='#requestDemo' title='' data-effect='mfp-zoom-in' popup-js)
            if(pageClassName === 'p-referrer')
              span Sign-up
            else
              span Request a demo

  .c-grid
    .footer__wrapper.footer__wrapper-2

      .footer__row
        .footer__col.footer__col-1

          .logo.logo--footer
            a.logo__link(href='/' title='')
              img.logo__img(src="img/logo--footer.png")

          p.footer__desc.footer__desc-2!= "We redefine the way candidates and employers come together by facilitating <span>public talent crowdsourcing</span>. Everyone can refer people they know to the jobs posted with us and get paid for every successful referral!"

        .footer__col.footer__col-2

          .social(class!= (pageClassName === 'p-referrer' ? 'social--referrer':''))
            p.social__title Follow referbility.com
            ul.social__list
              li.social__item
                a.social__link(href="#")
                  i.icon-font.icon-facebook
              li.social__item
                a.social__link(href="#")
                  i.icon-font.icon-linkedin
              li.social__item
                a.social__link(href="#")
                  i.icon-font.icon-twitter

          a.footer__delete.c-btn.c-btn--bg.c-btn--bg-white(href='#' title='')
            span Delete you profile

        .footer__col.footer__col-3

          p.footer__title Quick Link

          ul.footer__nav
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Home
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') For Referrers
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') For Employers
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Search Jobs
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Blog
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') FAQs
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Terms & Conditions

        .footer__col.footer__col-4

          p.footer__title Company

          ul.footer__nav
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Referrer Login
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Employer Login
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Contact Us

    .c-grid
      .footer__wrapper.footer__wrapper-3

        .copyright
          p.copyright__text!= "© referbility.com - All Right Reserved - <a href='#'>Terms of Use</a> / <a href='#'>Privacy Policy</a>"

// FOOTER :: END 3025