// FOOTER :: START

footer#footer.footer.footer--mod.footer--referrer

  .footer__bg
    .footer__bg-top
    .footer__bg-bottom

  .c-grid
    .footer__wrapper.footer__wrapper-2

      .footer__row
        .footer__col.footer__col-1

          .logo.logo--footer
            a.logo__link(href='/' title='')
              img.logo__img(src="img/logo--footer.png")

          p.footer__desc.footer__desc-2!= "We redefine the way candidates and employers come together by facilitating <span>public talent crowdsourcing</span>. Everyone can refer people they know to the jobs posted with us and get paid for every successful referral!"

        .footer__col.footer__col-2

          .social(class!= (pageClassName === 'p-referrer' ? 'social--referrer':''))
            p.social__title Follow referbility.com
            ul.social__list
              li.social__item
                a.social__link(href="#")
                  i.icon-font.icon-facebook
              li.social__item
                a.social__link(href="#")
                  i.icon-font.icon-linkedin
              li.social__item
                a.social__link(href="#")
                  i.icon-font.icon-twitter

          a.footer__delete.c-btn.c-btn--bg.c-btn--bg-white(href='#' title='')
            span Delete your profile

        .footer__col.footer__col-3

          p.footer__title Quick Link

          ul.footer__nav
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Home
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') For Referrers
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') For Employers
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Search Jobs
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Blog
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') FAQs
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Terms & Conditions

        .footer__col.footer__col-4

          p.footer__title Company

          ul.footer__nav
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Referrer Login
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Employer Login
            li.footer__nav-item
              a.footer__nav-link(href='#' title='') Contact Us

    .c-grid
      .footer__wrapper.footer__wrapper-3

        .copyright
          p.copyright__text!= "© referbility.com - All Right Reserved - <a href='#'>Terms of Use</a> / <a href='#'>Privacy Policy</a>"

// FOOTER :: END 3025
