// FOOTER :: START

footer#footer.footer.footer--landing

  .c-grid
    .footer__wrapper
      .footer__wrapper-left

        .logo.logo--footer
          a.logo__link(href='/' title='')
            img.logo__img(src="img/logo--footer.png")

      .footer__wrapper-middle

        .copyright
          p.copyright__text!= "© referbility.com - All Right Reserved - <a href='#'>Terms of Use</a> / <a href='#'>Privacy Policy</a>"

      .footer__wrapper-right

        .social
          ul.social__list
            li.social__item
              a.social__link(href="#")
                i.icon-font.icon-facebook
            li.social__item
              a.social__link(href="#")
                i.icon-font.icon-linkedin
            li.social__item
              a.social__link(href="#")
                i.icon-font.icon-twitter

// FOOTER :: END 3025
