// FOOTER :: START

footer#footer.footer

  .footer__bg
    .footer__bg-top
    .footer__bg-bottom

  .c-grid
    .footer__wrapper.footer__wrapper-1

  .c-grid
    .footer__wrapper.footer__wrapper-2

// FOOTER :: END