// HEADER :: START

header#header.header.header--mod(
  class!= (headerGrid && boardMod)?'header--grid header--board':(headerGrid)?'header--grid':''
)
  .c-grid

    .header__wrapper

      .header__wrapper-left

        .logo.logo--header
          a.logo__link(href='/' title='')
            img.logo__img.logo__img--default(src="img/logo--white.png" srcset="img/logo--white@2x.png 2x")
            img.logo__img.logo__img--action(src="img/logo.png" srcset="img/logo@2x.png 2x")
            img.logo__img.logo__img--mobile(src="img/logo-mobile.png" srcset="img/logo-mobile@2x.png 2x")

      .header__wrapper-middle

        .header__tabs-wrapper
          a.header__tabs.header__tabs--sign(href="#") Login/Register
          a.header__tabs.header__tabs--for(href="#") FOR REFERRERS

      .header__wrapper-right

        +hamburger()

// HEADER :: END
