// HEADER :: START

header#header.header.header--kanban
  .c-grid

    .header__wrapper

      .header__wrapper-left

        .logo.logo--header
          a.logo__link(href='/' title='')
            img.logo__img.logo__img--default(src="img/logo--white.png" srcset="img/logo--white@2x.png 2x")
            img.logo__img.logo__img--action(src="img/logo.png" srcset="img/logo@2x.png 2x")
            img.logo__img.logo__img--mobile(src="img/logo-mobile.png" srcset="img/logo-mobile@2x.png 2x")

      .header__wrapper-right

        .header__action-wrapper
          div
            a.header__action(href='#' title='')
              i.icon-font.icon-bar-chart
          div
            a.header__action(href='#' title='')
              i.icon-font.icon-mail
          div
            .notify.notify--kanban(dropdown-js)
              a.notify__btn.header__action(href='#' title='' dropdown-btn-js)
                i.icon-font.icon-bell
                .notify__indication 2
              .notify__drop(dropdown-contnet-js)
                .notify__drop-head
                  p NOTIFICATIONS
                  .notify__indication 2
                .notify__drop-body
                  a.notify__action.notify__action--notread(href="#")
                    div
                      i.icon-font.icon-bell
                    div
                      p Lorem ipsum dolor sit amet
                      span 1 hour ago
                  a.notify__action.notify__action--notread(href="#")
                    div
                      i.icon-font.icon-bell
                    div
                      p Lorem ipsum dolor sit amet
                      span 1 hour ago
                  each val, idx in [1,2,3,4,5,6,7]
                    a.notify__action(href="#")
                      div
                        i.icon-font.icon-bell
                      div
                        p Lorem ipsum dolor sit amet
                        span 1 hour ago

        +hamburger('kanban')

// HEADER :: END
