---
title: Referbility | Job Board

pageClassName: p-board
headerGrid: true
---
extends shared/_layout

block menu
  include components/homepage/_menu

block header
  include components/_header--mod
block footer
  include components/_footer--mod

block content
  div.body.body--start(class!= pageClassName)

    include components/board/_main
