---
title: Referbility | Job Board Details & How It Works

pageClassName: p-board-details-how
headerGrid: true
boardMod: true
---
extends shared/_layout

block menu
  include components/homepage/_menu

block header
  include components/_header--mod
block footer
  include components/_footer--mod

block content
  div.body.body--start(class!= pageClassName)

    include components/board/_main

    #board.board
      .c-grid
        .board__wrapper.board__wrapper--column
          .board__wrapper-left

            include components/board/_details

            .board-details__btn-wrapper
              a.board-details__btn(href="#")
                span Refer Someone!
                div
                  i.icon-font.icon-corner

            a.board-details__seeAll(href="#")
              span See all Jobs

          .board__wrapper-right

            include components/board/_how
