---
title: Referbility | Referral Email Confirmation

pageClassName: p-email-confirmation
---
extends shared/_layout

block header
block footer
block modal
block menu
block content
  div.body.body--start(class!= pageClassName)

    include components/innerPages/_innerSection--email-confirmation
