---
title: Referbility

pageClassName: p-home
---
extends shared/_layout

block header
  include components/_header-kanban
block footer
  include components/_footer--mod
block modal

block menu
  include components/homepage/_menu

block content
  div.body.body--start(class!= pageClassName)

    include components/kanban/_kanban


