---
title: Referbility

pageClassName: p-home
---
extends shared/_layout

block header
  include components/_header-kanban
block footer
  include components/_footer--mod
block modal
  include components/kanban/_modalKanbanMore
  include components/kanban/_modalKanbanThumbs

  include components/kanban/_modalStartPlacementGuarantee

  include components/kanban/_modalManagePlacementGuarantee

  include components/kanban/_modalTerminatePlacementGuarantee
  include components/kanban/_modalTerminateSubmitPlacementGuarantee

  include components/kanban/_modalReleasePlacementGuarantee
  include components/kanban/_modalReleaseSubmitPlacementGuarantee
block footer

block menu
  include components/homepage/_menu

block content
  div.body.body--start(class!= pageClassName)

    include components/kanban/_kanban
