// FOOTER :: START

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 40px;

  &__bg {
    height: 100%;

    &,
    &-top,
    &-bottom {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-top {
      height: 303px;
    }

    &-bottom {
      top: 303px;
      height: calc(100% - 303px);
      background-color: #020d60;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;

    &-2 {
      padding-top: 80px;
    }

    &-3 {
      padding-top: 80px;
      @include adaptive(1023) {
        padding-top: 50px;
      }
    }
  }

  &__row {
    display: flex;
    @include adaptive(1023) {
      flex-wrap: wrap;
    }
  }

  &__col {
    width: 100%;

    &-1,
    &-2 {
      max-width: 350px;
      padding-right: 15px;
      @include adaptive(1279) {
        max-width: 300px;
      }
    }

    &-3,
    &-4 {
      position: relative;
      max-width: calc((100% - 700px) / 2);
      @include adaptive(1279) {
        max-width: calc((100% - 600px) / 2);
      }
      @include adaptive(1023) {
        max-width: calc(50% / 2);
      }
      @include adaptive(767) {
        max-width: calc(100% / 2);
      }
    }

    &-1 {
      @include adaptive(1023) {
        order: 1;
        max-width: 50%;
      }
      @include adaptive(767) {
        max-width: 100%;
      }
    }
    &-2 {
      @include adaptive(1023) {
        order: 4;
        max-width: 100%;
        padding-top: 50px;
        padding-right: 0;
      }
      @include adaptive(767) {
        order: 2;
        max-width: 100%;
      }
    }
    &-3 {
      @include adaptive(1023) {
        order: 2;
      }
      @include adaptive(767) {
        order: 3;
        padding-top: 50px;
      }
    }
    &-4 {
      @include adaptive(1023) {
        order: 3;
      }
      @include adaptive(767) {
        order: 4;
        padding-top: 50px;
      }
    }
  }

  &__started {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    &-wrapper {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1170px;
      min-height: 425px;
      margin-left: auto;
      margin-right: auto;
      border-top-right-radius: 160px;
      border-bottom-left-radius: 160px;
      box-shadow: 0 40px 90px 0 rgba(135, 119, 217, 0.2);
      background-image: linear-gradient(203deg, #8181ff, #5153dc);
      @include adaptive(1023) {
        min-height: auto;
        padding-top: 80px;
        padding-bottom: 100px;
      }
      @include adaptive(767) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 130px;
      }
    }

    &-bg {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &-path {
        position: absolute;
        width: 410px;
        height: 410px;
        border-radius: 50%;
        border: solid 150px #a9abfe4c;

        &-1 {
          top: -145px;
          left: -70px;
        }

        &-2 {
          right: -270px;
          bottom: -106px;
          @include adaptive(767) {
            display: none;
          }
        }
      }
    }

    &-title {
      padding-bottom: 30px;
      letter-spacing: 1px;
    }

    &-desc {
      padding-bottom: 30px;
      color: rgba(#ffffff, 0.85);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 1.75;
      text-align: center;
      @include adaptive(767) {
        font-size: 14px;
      }
    }

    &-btn {
      &-wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__title {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(#ffffff, 0.7);
    text-transform: uppercase;
    @include adaptive(767) {
      text-align: center;
    }
  }

  &__nav {
    &-link {
      display: flex;
      align-items: center;
      min-height: 35px;
      font-size: 14px;
      letter-spacing: 0.5px;
      color: rgba(#ffffff, 0.7);
      @include transition(color);
      @include adaptive(767) {
        justify-content: center;
      }

      &:hover {
        color: rgba(#ffffff, 1);
        @include transition(color);
      }
    }
  }

  &__desc {
    width: 100%;
    max-width: 300px;
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0.5px;
    color: rgba(#ffffff, 0.7);
    @include adaptive(767) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    span {
      font-weight: bold;
    }

    a {
      color: $c-white;
    }

    &-1 {
      padding-bottom: 20px;
    }
  }
}

// FOOTER :: END