// HEADER :: START

.header {
  opacity: 0;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  box-shadow: 0px 30px 100px rgba(135, 119, 217, 0);
  will-change: background-color, box-shadow;
  @include transition(background-color, box-shadow);

  &--referrer {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: linear-gradient(#a790dd 0%, #7650b4 100%);
      @include adaptive(1279) {
        background-image: none;
        background-color: $c-white;
      }
    }

    &.header {
      &--fixed {
        background-color: #f8f7ff;

        @include adaptive(1023) {
          background: linear-gradient(45deg, rgba(#7650b4,1) 0%,rgba(#a790dd,1) 100%);
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: transparent;
          background: linear-gradient(#a790dd 0%, #7650b4 100%);
          @include adaptive(1023) {
            background-image: none;
            background-color: #ffffff;
          }
        }
      }
    }

    .header {
      &__form {
        form {
          justify-content: flex-end;

          a {
            background-color: rgba(#7650b4, 1) !important;

            &:after {
              background-color: lighten(#7650b4, 5%) !important;
            }

            &:nth-of-type(2) {
              background-color: rgba(#a790dd, 1) !important;

              &:after {
                background-color: lighten(rgba(#a790dd, 1), 5%) !important;
              }
            }
          }
        }
      }

      &__tabs {
        &--sign {
          &:hover {
            background-color: #2D1C40;
            color: $c-white;
          }
        }

        &--for {
          &:hover {
            border-color: #2D1C40;
            background-color: #2D1C40;
            color: $c-white;
          }
        }
      }
    }
  }

  &.header--kanban {
    background: linear-gradient(45deg, rgba(81,83,220,1) 0%,rgba(129,129,255,1) 100%);

    &.header--fixed {
      .logo__img {
        &--default {
          opacity: 1;
          visibility: visible;
        }

        &--action {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .c-grid {
      max-width: 1200px;
    }

    .header {
      &__wrapper {
        justify-content: space-between;
        height: 80px;
      }

      &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 19px;

        .icon-font {
          color: #ffffff;
          font-size: 20px;
        }

        &-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 50px;

          > div {
            display: flex;
            margin-left: 20px;
          }
        }
      }
    }
  }

  &.header--grid {
    .c-grid {
      max-width: 1230px;
      padding-left: 30px;
      padding-right: 30px;
      @include adaptive(767) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-image: none;
      background-color: $c-white;
    }
  }

  .is-hideScroll & {
    z-index: 1010;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-image: none;
      background-color: $c-white;
    }

    &.header--fixed {
      background-color: transparent;
      box-shadow: none;

      .logo__img {
        &--default {
          opacity: 1;
          visibility: visible;
        }

        &--action {
          opacity: 0;
          visibility: hidden;
        }
      }

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-image: none;
        background-color: $c-white;
      }

      .header {
        &__form {
          form {
            > div {
              input {
                border-color: $c-white;
                background-color: transparent;
                color: $c-white;
                @include inputPlaceholder {
                  color: $c-white;
                }
              }

              button {
                background-color: #020d60;
                @include transition(background-color);
              }
            }
          }
        }

        &__tabs-wrapper {
          //opacity: 0 !important;
        }
      }
    }

    &__tabs-wrapper {
      @include adaptive(1023) {
        opacity: 0;
      }
    }
  }

  &--fixed {
    background-color: #fff;
    box-shadow: 0px 30px 100px rgba(135, 119, 217, 0.35);
    @include transition(background-color, box-shadow);
    @include adaptive(1023) {
      background: linear-gradient(45deg, rgba(81,83,220,1) 0%,rgba(129,129,255,1) 100%);
    }

    .header {
      &__wrapper {
        height: 75px;
        will-change: height;
        @include transition(height);
      }

      &__form {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.3s;
        @include transition(opacity, visibility);
      }

      &__tabs {
        &-wrapper {
          opacity: 0;
          visibility: hidden;
          @include transition(opacity, visibility);
          @include adaptive(1023) {
            display: none;
          }
        }
      }

      &__mobile {
        @include adaptive(1023) {
          opacity: 1;
          visibility: visible;
          @include transition(opacity, visibility);
        }
      }
    }

    .logo__img {
      &--default {
        opacity: 0;
        visibility: hidden;
        @include adaptive(1023) {
          opacity: 1;
          visibility: visible;
        }
      }

      &--action {
        opacity: 1;
        visibility: visible;
        @include adaptive(1023) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  .c-grid {
    max-width: 1600px;
    will-change: max-width;
    @include transition(max-width);
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    @include transition(height);

    > div {
      width: 100%;
    }

    &-left {
      max-width: 300px;
      @include adaptive(1279) {
        max-width: 250px;
      }
      @include adaptive(767) {
        max-width: 70px;
      }
    }

    &-middle {
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex: 1;
      min-width: 1px;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 105px;
      @include adaptive(1599) {
        padding-right: 50px;
      }
      @include adaptive(1439) {
        padding-right: 0;
      }
      @include adaptive(767) {
        padding-left: 0;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      max-width: 300px;
      @include adaptive(1279) {
        max-width: 70px;
      }
    }
  }

  &__form {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    will-change: opacity, visibility;
    @include transition(opacity, visibility);
    @include adaptive(1023) {
      display: none;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    div {
      width: 100%;
      max-width: calc((100% - 30px) / 4);

      input {
        outline: none;
        width: 100%;
        height: 45px;
        padding: 0 20px;
        border-radius: 25px;
        box-shadow: none;
        border: 2px solid transparent;
        background-color: rgba(#c5c5ff, 0.4);
        letter-spacing: 0.5px;
        font-size: 13px;
        font-weight: 500;
        @include inputPlaceholder {
          font-size: 13px;
          font-weight: 500;
          color: #505f79;
        }
      }

      button {
        white-space: nowrap;
        width: 100%;
        height: 45px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid $c-white;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    will-change: background-color, color;
    @include transition(border-color, background-color, color);
    @include adaptive(1023) {
      transition: unset;
    }

    &:hover {
      @include transition(border-color background-color, color);
    }

    &--sign {
      margin-right: -1px;
      border: none;
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
      background-color: $c-white;
      color: #020D60;
      @include adaptive(1023) {
        border-radius: 2em;
      }
      @include adaptive(767) {
        width: 100%;
        max-width: 320px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
        margin-right: auto;
      }

      &:hover {
        background-color: #020d60;
        color: $c-white;
      }
    }

    &--for {
      margin-left: -1px;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
      background-color: transparent;
      color: $c-white;
      @include adaptive(1023) {
        display: none;
      }

      &:hover {
        border-color: #020D60;
        background-color: #020D60;
        color: $c-white;
      }
    }

    &-wrapper {
      display: flex;
      will-change: opacity, visibility;
      @include transition(opacity, visibility);
      @include adaptive(767) {
        width: 100%;
      }
    }
  }

  &__mobile {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    @include transition(opacity, visibility);
    @include adaptive(767) {
      justify-content: center;
    }

    .c-btn {
      @include adaptive(767) {
        width: 100%;
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

// HEADER :: END
