// SECTION board how it works :: START

section#board-how.board-how

  .board-how__wrapper
    p.board-how__title How it works

    ul.board-how__list
      li.board-how__list-item
        div
          .board-how__circle
        div
          p Submit your friend's details.
      li.board-how__list-item
        div
          i.icon-font.icon-arrow-bottom
        div
      li.board-how__list-item
        div
          .board-how__circle
        div
          p Your friend is notified by email and accepts your referral.
      li.board-how__list-item
        div
          i.icon-font.icon-arrow-bottom
        div
      li.board-how__list-item
        div
          .board-how__circle
        div
          p If the employer hires and retains your friend for 3 months, you get the reward.

    a.board-how__btn.c-btn.c-btn--bg.c-btn--bg-green(href="#")
      span Learn more

// SECTION board how it works :: END
