// SECTION main :: START

section#b-main.b-main
  .c-grid-fluid

    .b-main__wrapper

      .b-main__wrapper-bg
        span(parallax-js data-stellar-ratio="1.2")
        span(parallax-js data-stellar-ratio="0.85")

      .b-main__wrapper-content
        h1.b-main__title Get paid for referring friends to great jobs.

// SECTION main :: END
