// SECTION :: START

mixin modalContent()
  .c-modal__header
    p.c-modal__header-title Never miss an opportunity to refer.
  .c-modal__body
    div
      p.c-modal__body-title Subscribe today to receive our job alerts.

      form.c-modal__body-form(action='' method='' autocomplete='off')
        .c-modal__body-field.c-modal__body-field--input
          input(type='text' name='' placeholder='Your name' required)
        .c-modal__body-field.c-modal__body-field--input
          input(type='text' name='' placeholder='Your email address' required)
        .c-modal__body-field.c-modal__body-field--btn
          a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#boardSubscribeThx" data-effect='mfp-zoom-in' popup-js)
            span Subscribe

+modal('boardSubscribe', 'modalContent')

// SECTION :: END
