// SECTION board pagination :: START

section#board-pagination.board-pagination

  .board-pagination__btn-wrapper
    a.board-pagination__btn.board-pagination__btn--prev(href="#")
      i.icon-font.icon-corner

    ul.board-pagination__btn-list
      li
        a.board-pagination__btn.board-pagination__btn--num.is-active(href="#")
          span 1
      li
        a.board-pagination__btn.board-pagination__btn--num(href="#")
          span 2
      li
        a.board-pagination__btn.board-pagination__btn--num(href="#")
          span 3
      li
        a.board-pagination__btn.board-pagination__btn--num(href="#")
          span 4
      li
        a.board-pagination__btn.board-pagination__btn--num(href="#")
            span ...

    a.board-pagination__btn.board-pagination__btn--next(href="#")
      i.icon-font.icon-corner


// SECTION board pagination :: END
