// SECTION crowdsourcing :: START

.crowdsourcing {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    &-shape {
      position: absolute;

      &-1 {
        top: 0;
        left: -50px;
      }

      &-2 {
        right: -100px;
        bottom: 548px;
        @include adaptive(1023) {
          display: none;
        }
      }
    }

    &-path {
      position: absolute;
      bottom: 73px;
      left: -(920px - 299px);
      width: 920px;
      height: 920px;
      border-radius: 50%;
      border: 130px solid rgba(234, 230, 255, 0.4);
    }
  }

  &__title {
    z-index: 2;
    position: relative;
    padding-bottom: 75px;
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  &__block {
    display: flex;
    align-items: center;
    padding-bottom: 75px;
    @include adaptive(1023) {
      flex-direction: column-reverse;
      padding-bottom: 50px;
    }

    &:last-of-type {
      padding-bottom: 50px;
    }

    &--reverse {
      flex-direction: row-reverse;
      @include adaptive(1023) {
        flex-direction: column-reverse;
      }

      .crowdsourcing__block {
        &-left {
          justify-content: flex-start;
          padding-right: 0;
          padding-left: 150px;
          @include adaptive(1279) {
            padding-left: 50px;
            padding-right: 15px;
          }
          @include adaptive(1023) {
            padding-left: 15px;
          }
        }

        &-img {
          padding: 30px 30px 0 80px;
          @include adaptive(767) {
            padding: 30px;
          }

          &:after {
            right: auto;
            left: 0;
          }
        }
      }
    }

    &-left {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      min-width: 1px;
      max-width: 100%;
      padding-right: 150px;
      @include adaptive(1279) {
        padding-right: 50px;
        padding-left: 15px;
      }
      @include adaptive(1023) {
        padding-top: 25px;
        padding-right: 15px;
      }

      > div {
        width: 100%;
        max-width: 425px;
        @include adaptive(1023) {
          max-width: 100%;
        }
      }
    }

    &-right {
      width: 100%;
      max-width: 550px;
      @include adaptive(1023) {
        max-width: 100%;
      }
    }

    &-img {
      overflow: hidden;
      position: relative;
      height: 340px;
      padding: 30px 80px 0 30px;
      background-color: #ecebf6;
      @include adaptive(767) {
        height: auto;
        padding: 30px;
        background-color: transparent;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(#8181ff 0%, #5153dc 100%);
        @include adaptive(767) {
          display: none;
        }
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-line {
      width: 50px;
      height: 3px;
      margin-bottom: 20px;
      background-color: #29de9c;
    }

    &-desc {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 30px;
      color: #344563;

      span {
        font-weight: 800;
      }
    }

    &-link {
      display: block;
      padding-top: 8px;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.03em;
      color: #5153dc;
    }
  }
}

// SECTION crowdsourcing :: END