// SECTION how :: START

.how {
  position: relative;
  padding-top: 50px;
  padding-bottom: 150px;
  @include adaptive(1279) {
    padding-bottom: 50px;
  }

  &--referrer {
    padding-bottom: 0;

    .how {
      &__block {
        &-5 {
          .how__block {
            &-bg {
              background-image: url('../img/how-bg-1-woArrow.svg');
            }
          }
        }

        &-bg {
          background-image: url('../img/how-bg-1.svg');
          @include adaptive(767) {
            background-image: url('../img/how-bg-1-woArrow.svg');
          }
        }

        &-wrapper {
          > div {
            &:nth-of-type(3) {
              padding-top: 100px;
            }
          }
        }
      }
    }
  }

  &__bg {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &,
    &-path {
      position: absolute;
    }

    &-path {
      top: 0;
      left: -(410px - 225px);
      width: 410px;
      height: 410px;
      border-radius: 50%;
      border: 90px solid rgba(234, 230, 255, 0.4);
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    padding-bottom: 70px;
    @include adaptive(1279) {
      padding-bottom: 0;
    }
  }

  &__title {
    z-index: 2;
    position: relative;
    padding-bottom: 50px;
  }

  &__block {
    position: relative;
    min-height: 320px;
    backface-visibility: hidden;
    transform-origin: center;
    will-change: transform;
    @include transition(transform);
    @include adaptive(767) {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      transform: translateX(5px);
      @include transition(transform 0.5s);
    }

    &-5 {
      .how__block {
        &-bg {
          width: calc(100% - 50px);
          background-image: url('../img/how-bg-woArrow.svg');
          @include adaptive(767) {
            width: 100%;
          }
        }

        &-body {
          padding-right: 60px;
          @include adaptive(767) {
            padding-right: 20px;
          }
        }
      }
    }

    &-bg {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 255px;
      background-image: url('../img/how-bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: drop-shadow(0px 35px 90px rgba(153, 141, 217, 0.2));
      @include adaptive(767) {
        background-image: url('../img/how-bg-woArrow.svg');
      }
    }

    &-body {
      z-index: 2;
      position: relative;
      padding: 15px 50px 15px 15px;
      @include adaptive(1279) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 245px;
        padding-right: 85px;
      }
      @include adaptive(767) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        text-align: center;
      }
    }

    &-wrapper {
      position: relative;
      left: 26px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px;
      @include adaptive(1279) {
        left: 0;
        flex-wrap: wrap;
        justify-content: center;
      }

      > div {
        width: 100%;
        max-width: calc((100% - 20px) / 5);
        @include adaptive(1279) {
          max-width: calc((100% - 10px) / 3);
          padding-right: 5px;
          padding-bottom: 15px;
        }
        @include adaptive(767) {
          max-width: 100%;
        }

        &:nth-of-type(even) {
          padding-top: 50px;
          @include adaptive(1279) {
            padding-top: 0;
          }
        }

        &:nth-of-type(odd) {
          @include adaptive(1279) {
            padding-top: 50px;
          }
          @include adaptive(767) {
            padding-top: 0;
          }
        }
      }
    }

    &-num {
      padding-bottom: 5px;
      font-weight: bold;
      font-size: 20px;
      color: #fff;
    }
    
    &-desc {
      font-size: 16px;
      line-height: 25px;
      color: #fff;

      span {
        font-weight: bold;
      }
    }

    &-icon {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-right: 50px;
      @include adaptive(767) {
        padding-right: 0;
      }

      svg {
        display: block;
        width: 75px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        @include adaptive(767) {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  &__arrow {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include adaptive(1279) {
      display: none;
    }

    > div {
      position: relative;
      width: 100%;
      max-width: calc((100% - 20px) / 5);
    }

    img {
      position: absolute;
      top: 0;
      left: 100px;
    }
  }
}

// SECTION how :: END