// SECTION main :: START

.main {
  position: relative;
  padding-top: 150px;
  padding-bottom: 75px;
  @include adaptive(1279) {
    padding-top: 100px;
    padding-bottom: 0;
  }
  @include adaptive(767) {
    padding-top: 75px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-path {
      position: absolute;
      right: -320px;
      bottom: -180px;
      width: 410px;
      height: 410px;
      border-radius: 50%;
      border: 90px solid rgba(234, 230, 255, 0.4);
      @include adaptive(767) {
        display: none;
      }
    }

    &-row {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 248px);
      max-width: calc(70% + 20px);
      height: calc(100% - 60px);
      @include adaptive(1279) {
        width: 100%;
        max-width: 100%;
      }
    }

    &-container{
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 248px);
      max-width: calc(70% + 20px);
      height: calc(100% - 60px);
      border-bottom-right-radius: 100px;
      background: linear-gradient(#8181ff 0%, #5153dc 100%);
      box-shadow: 0px 40px 90px rgba(135, 119, 217, 0.2);
      @include adaptive(1919) {
        max-width: 1352px;
      }
      @include adaptive(1279) {
        width: 100%;
        max-width: 100%;
      }

      &-path {
        position: absolute;

        &-1 {
          left: -(410px - 202px);
          bottom: 25px;
          width: 410px;
          height: 410px;
          border-radius: 50%;
          border: 130px solid rgba(169, 171, 254, 0.2);
          @include adaptive(767) {
            display: none;
          }
        }

        &-2 {
          top: -(410px - 320px);
          right: -(410px - 317px);
          width: 410px;
          height: 410px;
          border-radius: 50%;
          border: 150px solid rgba(169, 171, 254, 0.2);
        }
      }
    }

    &-shape {
      position: absolute;
      top: 90px;
      right: -210px;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;

    &-left {
      flex: 1;
      min-width: 1px;
      max-width: 100%;
      padding-top: 75px;
      padding-right: 75px;
      @include adaptive(1279) {
        padding-right: 50px;
      }
      @include adaptive(767) {
        padding-right: 0;
      }

      > div {
        width: 100%;
        max-width: 670px;
        margin-left: auto;
        @include adaptive(1279) {
          margin-left: 0;
        }
      }
    }

    &-right {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100%;
      max-width: 550px;
      @include adaptive(1279) {
        max-width: 450px;
      }
      @include adaptive(1023) {
        display: none;
      }

      img {
        position: relative;
        filter: drop-shadow(0px 90px 200px rgba(9, 30, 66, 0.25));
        @include adaptive(1439) {
          display: block;
          max-width: 100%;
          height: auto;
        }

        &:nth-of-type(1) {
          z-index: 3;
        }

        &:nth-of-type(2) {
          z-index: 2;
          position: absolute;
          bottom: -41px;
          left: -100px;
          max-width: 100%;
          height: auto;
          @include adaptive(1439) {
            left: -30px;
            bottom: -30px;
          }
          @include adaptive(1279) {
            display: none;
          }
        }
      }
    }
  }

  &__title {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 1.25px;
    line-height: 1.2;
    text-align: left;
    color: #fff;
    @include adaptive(1439) {
      font-size: 50px;
    }
    @include adaptive(1279) {
      font-size: 45px;
    }
    @include adaptive(1023) {
      font-size: 40px;
    }
    @include adaptive(767) {
      font-size: 36px;
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 510px;
    padding-bottom: 50px;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 35px;
    text-align: left;
    color: #fff;
    @include adaptive(1279) {
      font-size: 18px;
    }
  }

  &__btn {
    margin-right: 15px;
    @include adaptive(767) {
      width: 100%;
      max-width: 320px;
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
      padding-left: 42px;
      padding-right: 42px;
      @include adaptive(767) {
        margin-top: 15px;
        margin-right: auto;
      }
    }

    &-wrapper {
      display: flex;
      padding-bottom: 75px;
      @include adaptive(767) {
        flex-direction: column;
        padding-bottom: 50px;
      }
    }
  }

  &__num {
    display: flex;
    padding-left: 10px;
    @include adaptive(767) {
      display: none;
    }

    svg {
      height: 55px;
    }
  }
}

// SECTION main :: END