// BUTTON :: START

// ==================================================
// ==================================================
// ==================================================

$bth-width: unset;
$bth-height: 45px;
$btn-border-width: 0;
$btn-border-color: rgba(#020d60, 1);
$bth-border-radius: 2em;
$bth-box-shadow: none;
$bth-background-color: rgba(#020d60, 1);
$bth-color: rgba(#fff, 1);
$bth-font-size: 13px;
$bth-font-weight: 500;

$btn-color--border: rgba(#000, 1);

// ==================================================
// ==================================================
// ==================================================

.c-btn {
  outline: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: $bth-width;
  height: $bth-height;
  border: $btn-border-width solid $btn-border-color;
  box-shadow: $bth-box-shadow;
  border-radius: $bth-border-radius;
  color: $bth-color;
  font-size: $bth-font-size;
  font-weight: $bth-font-weight;

  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;

  span {
    z-index: 2;
    position: relative;
  }

  &--bg {
    &-blue,
    &-white,
    &-green,
    &-gradient {
      transition: all 0.5s cubic-bezier(0, 0.9, 0.5, 1);

      &:hover {
        &:after {
          opacity: 1.0;
          visibility: visible;
          transform: translateX(-50%) translateY(-50%) scale(1);
          transform-origin: center center;
          transition: all 0.5s cubic-bezier(0, 0.9, 0.5, 1);
        }
      }

      &:after {
        content: '';
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% + 30px);
        padding: calc(40% + 30px) 0;
        border-radius: 50%;
        will-change: transform;
        transform: translateX(-50%) translateY(-50%) scale(0.001);
        transform-origin: center center;
        transition: visibility 0.25s, opacity 0.25s, cubic-bezier(0, 0.9, 0.5, 1);
      }
    }

    &-blue {
      background-color: $bth-background-color;

      &:after {
        background-color: lighten($bth-background-color, 5%);
      }

      &,
      &:hover,
      &:active {
        @include transition(box-shadow);
      }

      &:hover {
        box-shadow: 0 5px 10px 0 rgba($bth-background-color, 0.15);
      }

      &:active {
        box-shadow: 0 5px 10px 0 rgba($bth-background-color, 0);
      }
    }

    &-white {
      background-color: $c-white;
      color: $bth-background-color;

      &:after {
        background-color: lighten($c-black, 95%);
      }

      &,
      &:hover,
      &:active {
        @include transition(box-shadow);
      }

      &:hover {
        box-shadow: 0 5px 10px 0 rgba($c-black, 0.15);
      }

      &:active {
        box-shadow: 0 5px 10px 0 rgba($c-black, 0);
      }
    }

    &-green {
      background-color: #fff;
      background-image: linear-gradient(42deg, #36b37e 25%, #57d9a3 88%);

      &:after {
        background-color: darken(#36b37e, 5%);
      }

      &,
      &:hover,
      &:active {
        @include transition(box-shadow);
      }

      &:hover {
        box-shadow: 0 5px 10px 0 rgba($bth-background-color, 0.15);
      }

      &:active {
        box-shadow: 0 5px 10px 0 rgba($bth-background-color, 0);
      }
    }

    &-gradient {
      background-color: #fff;
      background-image: linear-gradient(12deg, #00AAFF 0%, #28D7CC 100%);

      &:after {
        background-color: darken(#00AAFF, 5%);
      }

      &,
      &:hover,
      &:active {
        @include transition(box-shadow);
      }

      &:hover {
        box-shadow: 0 5px 10px 0 rgba($bth-background-color, 0.15);
      }

      &:active {
        box-shadow: 0 5px 10px 0 rgba($bth-background-color, 0);
      }
    }
  }
}

// BUTTON :: END
