// BUTTON :: START

// ==================================================
// ==================================================
// ==================================================

$bth-width: unset;
$bth-height: 50px;
$btn-border-width: 2px;
$btn-border-color: rgba(#020d60, 1);
$bth-border-radius: 2em;
$bth-box-shadow: none;
$bth-background-color: rgba(#020d60, 1);
$bth-color: rgba(#fff, 1);
$bth-font-size: 13px;
$bth-font-weight: 500;

$btn-color--border: rgba(#000, 1);

// ==================================================
// ==================================================
// ==================================================

.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: $bth-width;
  height: $bth-height;
  border: $btn-border-width solid $btn-border-color;
  box-shadow: $bth-box-shadow;
  border-radius: $bth-border-radius;
  color: $bth-color;
  font-size: $bth-font-size;
  font-weight: $bth-font-weight;

  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;

  &--border {
    background-color: transparent;
    color: $btn-color--border;
  }

  &--bg {
    background-color: $bth-background-color;
    will-change: border-color, background-color;

    &,
    &:hover,
    &:active {
      @include transition(border-color, background-color);
    }

    &:hover {
      border-color: rgba($bth-background-color, 0.75);
      background-color: rgba($bth-background-color, 0.75);
    }

    &:active {
      border-color: rgba($bth-background-color, 1);
      background-color: rgba($bth-background-color, 1);
    }

    &-white {
      border-color: $c-white;
      background-color: $c-white;
      color: $bth-background-color;

      &,
      &:hover,
      &:active {
        @include transition(border-color, background-color);
      }

      &:hover {
        border-color: rgba($c-white, 0.75);
        background-color: rgba($c-white, 0.75);
      }

      &:active {
        border-color: rgba($c-white, 1);
        background-color: rgba($c-white, 1);
      }
    }
  }
}

// BUTTON :: END