// LOGOTYPE :: START

.logo {
  &--header {
    .logo {
      display: flex;
      align-items: flex-start;

      &__link {
        position: relative;
        width: 219px;
        height: 44px;
        @include adaptive(767) {
          width: auto;
          height: auto;
        }
      }

      &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: opacity, visibility;
        @include transition(opacity, visibility);
        @include adaptive(767) {
          position: static;
          width: auto;
          height: auto;
        }

        &--default {
          @include adaptive(767) {
            display: none;
          }
        }

        &--action {
          opacity: 0;
          visibility: hidden;
          @include adaptive(767) {
            display: none;
          }
        }

        &--mobile {
          display: none;
          @include adaptive(767) {
            display: block;
          }
        }
      }
    }
  }

  &--footer {
    padding-bottom: 29px;

    .logo {
      display: flex;
      align-items: flex-start;

      &__link {
        @include adaptive(767) {
          justify-content: center;
        }
      }

      &__img {
        display: block;
        width: 195px;
        height: 39px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: flex-start;
  }
}

// LOGOTYPE :: END