// SECTION innerSection :: START

section#innerSection.innerSection

  .innerSection__bg
    .innerSection__bg-top
      span(parallax-js data-stellar-ratio="1.2")
      span(parallax-js data-stellar-ratio="0.9")
    .innerSection__bg-bottom
      img(src="img/crowdsourcing-shape-1.svg" parallax-js data-stellar-ratio="1.1")
      span(parallax-js data-stellar-ratio="0.95")

  .c-grid
    .innerSection__wrapper

      .innerSection__logo
        a.innerSection__logo-btn(href="/")
          img.innerSection__logo-img(src="img/logo--white.png" srcset="img/logo--white@2x.png 2x")

      h1.innerSection__title Your profile will not be shared with the employer.

      .innerSection__block
        p.innerSection__block-desc We are sorry to hear you are not interested in being referred for this role.
        p.innerSection__block-desc!= "<a href='#'>referbility.com</a> is fully GDPR compliant, so all the data that has been provided by the referrer about you will automatically be deleted from the system - there is nothing else required from your side."
        p.innerSection__block-desc It would be great if you could let us know why you are not interested to be referred for this role:

        .innerSection__block-select
          .c-modal__input.c-modal__input--select.c-modal__input-1
            select(name='')
              option(selected disabled) Choose your reason
              option() Action
              option() More Action
              option() One More Action

        a.innerSection__block-btn(href="#" inner-action-js)
          span Submit

  .innerSection__info(inner-info-js)
    .innerSection__info-block
      div
        h3 Thank you!
        p Telling us why you haven't accepted the referral helps us refining our service.


// SECTION innerSection :: END
