// SECTION innerSection :: START

section#innerSection.innerSection

  .innerSection__bg
    .innerSection__bg-top
      span(parallax-js data-stellar-ratio="1.2")
      span(parallax-js data-stellar-ratio="0.9")
    .innerSection__bg-bottom
      img(src="img/crowdsourcing-shape-1.svg" parallax-js data-stellar-ratio="1.1")
      span(parallax-js data-stellar-ratio="0.95")

  .c-grid
    .innerSection__wrapper

      .innerSection__logo
        a.innerSection__logo-btn(href="/")
          img.innerSection__logo-img(src="img/logo--white.png" srcset="img/logo--white@2x.png 2x")

      h1.innerSection__title Your referral is on the way!
      p.innerSection__desc There is nothing else you need to do - the employer will reach out to you directly if your profile has been shortlisted by them.
      p.innerSection__desc You can follow up regarding your candidature with your referrer.

      .innerSection__block
        p.innerSection__block-desc By the way, did you know that you can also refer colleagues, friends, family & peers to great jobs and get paid for every successful referral?
        p.innerSection__block-desc
          strong Subscribe to our job alerts today and get our latest jobs delivered to your inbox!

        .innerSection__block-line

        .innerSection__block-checkbox
          .c-modal__checkbox
            div
              input(type='checkbox' name='' id='confirmationCheckbox')
            div
              label(for='confirmationCheckbox') I would like to periodically be notified about jobs to refer to by email

        a.innerSection__block-btn(href="#")
          span SUBSCRIBE


// SECTION innerSection :: END
