// SECTION :: START

section#revamp-blog.revamp-blog
  .c-grid
    .revamp-blog__wrapper

      p.revamp-blog__title Blog
      .revamp-blog__line

      mixin swiperContent()
        .swiper-slide
          a.revamp-blog__box.revamp-blog__box-1(href="#")
            .revamp-blog__box-head
              img(src="https://c4.wallpaperflare.com/wallpaper/422/716/987/silhouette-photo-of-man-on-kayak-with-padded-wallpaper-preview.jpg" alt="")
            .revamp-blog__box-body
              p.revamp-blog__box-title Lorem ipsum dolor sit amet
              p.revamp-blog__box-desc Debitis volumus insolens at. Ne stet iusto tantas eum, nam ei natum argumentum constituam.

        .swiper-slide
          a.revamp-blog__box.revamp-blog__box-2(href="#")
            .revamp-blog__box-head
              img(src="https://c4.wallpaperflare.com/wallpaper/422/716/987/silhouette-photo-of-man-on-kayak-with-padded-wallpaper-preview.jpg" alt="")
            .revamp-blog__box-body
              p.revamp-blog__box-title Lorem ipsum dolor sit amet
              p.revamp-blog__box-desc Debitis volumus insolens at. Ne stet iusto tantas eum, nam ei natum argumentum constituam.

        .swiper-slide
          a.revamp-blog__box.revamp-blog__box-3(href="#")
            .revamp-blog__box-head
              img(src="https://c4.wallpaperflare.com/wallpaper/422/716/987/silhouette-photo-of-man-on-kayak-with-padded-wallpaper-preview.jpg" alt="")
            .revamp-blog__box-body
              p.revamp-blog__box-title Lorem ipsum dolor sit amet
              p.revamp-blog__box-desc Debitis volumus insolens at. Ne stet iusto tantas eum, nam ei natum argumentum constituam.

      +swiper('revampBlog', 'swiperContent', false, false, false)

      .revamp-blog__btn-wrapper
        a.revamp-blog__btn.revamp-blog__btn-prev(href="#")
          i.icon-font.icon-corner
        a.revamp-blog__btn.revamp-blog__btn-next(href="#")
          i.icon-font.icon-corner

      .revamp-blog__more
        a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
          span See all articles

// SECTION :: END
