// SECTION learn :: START

section#retouch-learn.retouch-learn.retouch-learn--revamp
  .c-grid

    .retouch-learn__wrapper(data-animation-delay='0.2s')

      .retouch-learn__wrapper-bg
        span(parallax-js data-stellar-ratio="0.9")
        span(parallax-js data-stellar-ratio="1.1")

      .retouch-learn__wrapper-left

        p.retouch-learn__title.c-title Register today and start referring
        .retouch-learn__btn
          a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#")
            span SIGN UP

      .retouch-learn__wrapper-right
        img(src="img/img-retouch-learn.svg" alt="")

// SECTION learn :: END
