// SECTION :: START

section#revamp-main.revamp-main

  .revamp-main__bg
    span(parallax-js data-stellar-ratio="0.9")
    span(parallax-js data-stellar-ratio="1.1")

    .revamp-main__bg-inner

  .c-grid
    .revamp-main__wrapper
      .revamp-main__wrapper-left

        div
          h1.revamp-main__title Get paid for referring friends to great jobs.
          p.revamp-main__subtitle All you need is their name and email!
          .revamp-main__btn
            a.c-btn.c-btn--bg.c-btn--bg-gradient(href="#boardSubscribe" data-effect='mfp-zoom-in' popup-js)
              i.icon-font.icon-bell-checked
              span Subscribe to job alerts!

      .revamp-main__wrapper-right

    a.revamp-main__link(href="#ref-jobs" anchor-js)
      span Learn More
      i.icon-font.icon-corner

  .revamp-main__content
    .revamp-main__content-left

    .revamp-main__content-right
      //img(src="img/img-retouch-main.png" srcset="img/img-retouch-main@2x.png 2x" alt="")
      //img(src="img/img-retouch-main--mobile.png" srcset="img/img-retouch-main--mobile@2x.png 2x" alt="")

// SECTION :: END
