// SECTION :: START

section#retouch-works.retouch-works.retouch-works--subscribe

  .retouch-works__bg
    span(parallax-js data-stellar-ratio="0.9")
    span(parallax-js data-stellar-ratio="1.1")

  .c-grid-fluid

    p.retouch-works__title.c-title.viewport-hide-js(data-animation-delay='0.2s') How it works
    .retouch-works__line.viewport-hide-js(data-animation-delay='0.25s')
    p.retouch-works__desc.viewport-hide-js(data-animation-delay='0.3s') We pay you for referring colleagues, friends, and peers to great jobs. Refer anyone you know, as many people as you want, and get the reward for every successful referral!

    .retouch-works__wrapper
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInLeft')
            img(src="img/img-subscribe-how-1.png" srcset="img/img-subscribe-how-1@2x.png 2x, img/img-subscribe-how-1@3x.png 3x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 01
            .retouch-works__block-title
              p Find jobs to refer to
            .retouch-works__block-desc
              p Visit our job board to see all currently active jobs. Every job has a reward allocated to it - this is what you earn when a candidate you referred is hired.
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInRight')
            img(src="img/img-subscribe-how-2.png" srcset="img/img-subscribe-how-2@2x.png 2x, img/img-subscribe-how-2@3x.png 3x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 02
            .retouch-works__block-title
              p Refer a candidate
            .retouch-works__block-desc
              p Refer by providing us with your candidate's name and email. That's it!
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInLeft')
            img(src="img/img-subscribe-how-3.png" srcset="img/img-subscribe-how-3@2x.png 2x, img/img-subscribe-how-3@3x.png 3x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 03
            .retouch-works__block-title
              p Your candidate accepts the referral
            .retouch-works__block-desc
              p We sent your candidate an automated email, and all they need to do is uploading their CV and clicking a button.
      div
        .retouch-works__block
          .retouch-works__block-image.viewport-hide-js(data-animation-delay='0.2s' data-animation-name='c-slideInRight')
            img(src="img/img-subscribe-how-4.png" srcset="img/img-subscribe-how-4@2x.png 2x, img/img-subscribe-how-4@3x.png 3x" alt="")
          .retouch-works__block-content.viewport-hide-js(data-animation-delay='0.25s')
            .retouch-works__block-num
              span 04
            .retouch-works__block-title
              p Track your candidate...and get paid!
            .retouch-works__block-desc
              p You can track the status of each of your referred candidates through your dashboard. When a candidate you referred is hired & retained for 3 months, you will get the position's reward through bank transfer!

// SECTION :: END
