// SECTION advantages :: START

section#advantages.advantages

  .advantages__bg
    .advantages__bg-path

  .c-grid

    .advantages__wrapper

      h2.advantages__title.c-title Advantages

      .advantages__block-wrapper
        .advantages__block-col.advantages__block-col-1
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-1', '')
            .advantages__block-body
              p.advantages__block-title Reach Everyone
              p.advantages__block-desc Access an unprecedented number of highly qualified candidates from all over the world.

        .advantages__block-col.advantages__block-col-2
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-2', '')
            .advantages__block-body
              p.advantages__block-title Pay only if you hire
              p.advantages__block-desc Only pay if you hire. Full refunds if you don’t.

          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-3', '')
            .advantages__block-body
              p.advantages__block-title Outstanding Performance
              p.advantages__block-desc Fast delivery, algorithmic sorting, amazing return on investment.

        .advantages__block-col.advantages__block-col-3
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-4', '')
            .advantages__block-body
              p.advantages__block-title Used by the best
              p.advantages__block-desc Purpose-built by HR for HR and used by industry leaders in their respective markets.

        .advantages__block-col.advantages__block-col-4
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                +iconSVG('advantages-5', '')
            .advantages__block-body
              p.advantages__block-title Fully Compliant
              p.advantages__block-desc We are GDPR compliant and officially incorporated & audited in the UAE.

// SECTION advantages :: END