// SECTION advantages :: START

section#advantages.advantages(class!= (pageClassName === 'p-referrer') ? 'advantages--referrer':'')

  if((pageClassName !== 'p-referrer'))
    .advantages__bg
      .advantages__bg-path(parallax-js data-stellar-ratio="0.9")

  .c-grid

    .advantages__wrapper

      h2.advantages__title.c-title.viewport-hide-js(data-animation-delay='0.2s') Advantages

      .advantages__block-wrapper
        .advantages__block-col.advantages__block-col-1.viewport-hide-js(data-animation-delay='0.2s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                if((pageClassName !== 'p-referrer'))
                  +iconSVG('advantages-1', '')
                else
                  +iconSVG('advantages-6', '')
            .advantages__block-body
              if((pageClassName !== 'p-referrer'))
                p.advantages__block-title Reach Everyone
                p.advantages__block-desc Access an unprecedented number of highly qualified candidates from all over the world.
              else
                p.advantages__block-title You're your own boss
                p.advantages__block-desc No commitments from your side - you decide which jobs you would like to refer to.

        .advantages__block-col.advantages__block-col-2.viewport-hide-js(data-animation-delay='0.3s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                if((pageClassName !== 'p-referrer'))
                  +iconSVG('advantages-2', '')
                else
                  +iconSVG('advantages-7', '')
            .advantages__block-body
              if((pageClassName !== 'p-referrer'))
                p.advantages__block-title Pay only if you hire
                p.advantages__block-desc Only pay if you hire. Full refunds if you don’t.
              else
                p.advantages__block-title A second income
                p.advantages__block-desc With our lucrative rewards, you can make several thousand US dollars every month.

          .advantages__block
            .advantages__block-head
              .advantages__block-img
                if((pageClassName !== 'p-referrer'))
                  +iconSVG('advantages-3', '')
                else
                  +iconSVG('advantages-8', '')
            .advantages__block-body
              if((pageClassName !== 'p-referrer'))
                p.advantages__block-title Outstanding Performance
                p.advantages__block-desc Fast delivery, algorithmic sorting, amazing return on investment.
              else
                p.advantages__block-title Secure escrows
                p.advantages__block-desc We utilize holding accounts to ensure you get paid for successful referrals.

        .advantages__block-col.advantages__block-col-3.viewport-hide-js(data-animation-delay='0.4s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                if((pageClassName !== 'p-referrer'))
                  +iconSVG('advantages-4', '')
                else
                  +iconSVG('advantages-9', '')
            .advantages__block-body
              if((pageClassName !== 'p-referrer'))
                p.advantages__block-title Used by the best
                p.advantages__block-desc Purpose-built by HR for HR and used by industry leaders in their respective markets.
              else
                p.advantages__block-title Innovative platform
                p.advantages__block-desc Purpose-built with referrers in mind, we offer an intuitive experience that keeps you always informed.

        .advantages__block-col.advantages__block-col-4.viewport-hide-js(data-animation-delay='0.5s')
          .advantages__block
            .advantages__block-head
              .advantages__block-img
                if((pageClassName !== 'p-referrer'))
                  +iconSVG('advantages-5', '')
                else
                  +iconSVG('advantages-10', '')
            .advantages__block-body
              if((pageClassName !== 'p-referrer'))
                p.advantages__block-title Fully Compliant
                p.advantages__block-desc We are GDPR compliant and officially incorporated & audited in the UAE.
              else
                p.advantages__block-title Easy encashment
                p.advantages__block-desc We encash your rewards conveniently and swiftly directly on your bank account.

// SECTION advantages :: END