// SECTION audience :: START

section#audience.audience
  .audience__wrapper

    h2.audience__title.c-title Building your audience

    .audience__block-wrapper
      div
        .audience__block.audience__block-1
          .audience__block-bg
          .audience__block-cover
            .audience__block-head
              .audience__block-circle
                span 1
            .audience__block-body
              p
                != "<span>Post your job for free</span>, and we start building the audience for your role."
                br
                br
                != "We begin by only targeting the 70% <span>of the workforce that is passive.</span>"
            .audience__block-footer
              +iconSVG('audience-1', '')
      div
        .audience__block.audience__block-2
          .audience__block-bg
          .audience__block-cover
            .audience__block-head
              .audience__block-circle
                span 2
            .audience__block-body
              p
                != "We then proceed to seek those who are the most likely to know someone fitting to what you’re looking for."
                br
                br
                != "We <span>start by focusing on the industry...</span>"
            .audience__block-footer
              +iconSVG('audience-2', '')
      div
        .audience__block.audience__block-3
          .audience__block-bg
          .audience__block-cover
            .audience__block-head
              .audience__block-circle
                span 3
            .audience__block-body
              p
                != "...<span>then seniority</span>, because C-level executives know C-level executives, managers know managers, and so on..."
            .audience__block-footer
              +iconSVG('audience-3', '')
      div
        .audience__block.audience__block-4
          .audience__block-bg
          .audience__block-cover
            .audience__block-head
              .audience__block-circle
                span 4
            .audience__block-body
              p
                != "...we then further target by <span>interests, skills, memberships, and other relevant keywords</span> that are important for your candidate to possess."
            .audience__block-footer
              +iconSVG('audience-4', '')
      div
        .audience__block.audience__block-5
          .audience__block-bg
          .audience__block-cover
            .audience__block-head
              .audience__block-circle
                span 5
            .audience__block-body
              p
                != "Finally, we end up with an audience of a few hundred people whom are the most likely to know someone suitable."
                br
                br
                != "In our advertisements, we <span>offer them the reward you allocated to the job</span> to incentivize them into referring their peers."
            .audience__block-footer
              +iconSVG('audience-5', '')
      div
        .audience__block.audience__block-6
          .audience__block-bg
          .audience__block-cover
            .audience__block-head
              .audience__block-circle
                span 6
            .audience__block-body
              p
                != "With this approach, we <span>find the best passive candidates</span> for you, be it cardiac surgeons, Japanese lawyers, oil-rig engineers or little green men on the moon."
                br
                br
                != "<span>Every time.</span>"
            .audience__block-footer
              +iconSVG('audience-6', '')

// SECTION audience :: END