// SECTION menu :: START

#menu.menu.animated(mobile-block-js)

  .menu__wrapper

    ul.menu__list
      li.menu__item.menu__item--first
        a.menu__btn.c-btn.c-btn--bg.c-btn--bg-white(href='#' title='')
          span Open Jobs
      li.menu__item
        a.menu__link(href='#' title='')
          span
            | For Referrers
            i.icon-font.icon-corner
      li.menu__item
        a.menu__link(href='#' title='')
          span
            | For Employers
            i.icon-font.icon-corner
      li.menu__item
        a.menu__link(href='#' title='')
          span
            | Blog
            i.icon-font.icon-corner
      li.menu__item
        a.menu__link(href='#' title='')
          span
            | FAQs
            i.icon-font.icon-corner
      li.menu__item.menu__item--last
        a.menu__link(href='#' title='')
          span
            | Contact us
            i.icon-font.icon-corner
      li.menu__item.menu__item--request.menu__item--hidden
        a.menu__btn.c-btn.c-btn--bg.c-btn--bg-white(href='#requestDemo' title='' data-effect='mfp-zoom-in' popup-js)
          span Request a Demo
      li.menu__item.menu__item--hidden
        a.menu__btn.c-btn.c-btn--bg.c-btn--bg-white(href='#' title='')
          span Login/Register

// SECTION menu :: END