// SECTION menu :: START

#menu.menu.animated(mobile-block-js)

  .menu__wrapper

    ul.menu__list
      li.menu__item.menu__item--first
        a.menu__btn.c-btn.c-btn--bg.c-btn--bg-white(href='#' title='') Open Jobs
      li.menu__item
        a.menu__link(href='#' title='') For Referrers
      li.menu__item
        a.menu__link(href='#' title='') For Employers
      li.menu__item
        a.menu__link(href='#' title='') Blog
      li.menu__item
        a.menu__link(href='#' title='') FAQs
      li.menu__item
        a.menu__link(href='#' title='') Contact us

// SECTION menu :: END