// SECTION talent :: START

section#talent.talent

  .talent__wrapper
    .talent__wrapper-bg
      .talent__wrapper-bg-path.talent__wrapper-bg-path-1
      .talent__wrapper-bg-path.talent__wrapper-bg-path-2

    p.talent__subtitle Welcome to the marvel/next best thing/prodigy/savior/of recruitment:
    h2.talent__title.c-title.c-title--white Public Talent Crowdsourcing

  .talent__line

// SECTION talent :: END