@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-bottom {
		$char: "\E001";
	}
	@if $filename == bar-chart {
		$char: "\E002";
	}
	@if $filename == bell-alert {
		$char: "\E003";
	}
	@if $filename == bell {
		$char: "\E004";
	}
	@if $filename == blogging {
		$char: "\E005";
	}
	@if $filename == building {
		$char: "\E006";
	}
	@if $filename == calendar-check {
		$char: "\E007";
	}
	@if $filename == calendar-dates {
		$char: "\E008";
	}
	@if $filename == calendar-delete {
		$char: "\E009";
	}
	@if $filename == call-calling {
		$char: "\E00A";
	}
	@if $filename == case {
		$char: "\E00B";
	}
	@if $filename == chat {
		$char: "\E00C";
	}
	@if $filename == check-mark {
		$char: "\E00D";
	}
	@if $filename == chevron-bottom {
		$char: "\E00E";
	}
	@if $filename == circle-checked {
		$char: "\E00F";
	}
	@if $filename == circle-x {
		$char: "\E010";
	}
	@if $filename == comment-delete {
		$char: "\E011";
	}
	@if $filename == conversion {
		$char: "\E012";
	}
	@if $filename == corner {
		$char: "\E013";
	}
	@if $filename == creditcard-face {
		$char: "\E014";
	}
	@if $filename == cup {
		$char: "\E015";
	}
	@if $filename == cv {
		$char: "\E016";
	}
	@if $filename == data {
		$char: "\E017";
	}
	@if $filename == date {
		$char: "\E018";
	}
	@if $filename == email-star {
		$char: "\E019";
	}
	@if $filename == experience {
		$char: "\E01A";
	}
	@if $filename == facebook {
		$char: "\E01B";
	}
	@if $filename == file-text {
		$char: "\E01C";
	}
	@if $filename == flag {
		$char: "\E01D";
	}
	@if $filename == linkedin {
		$char: "\E01E";
	}
	@if $filename == mail {
		$char: "\E01F";
	}
	@if $filename == market-1 {
		$char: "\E020";
	}
	@if $filename == medal {
		$char: "\E021";
	}
	@if $filename == more {
		$char: "\E022";
	}
	@if $filename == newspaper {
		$char: "\E023";
	}
	@if $filename == pencil-create {
		$char: "\E024";
	}
	@if $filename == pin {
		$char: "\E025";
	}
	@if $filename == plus {
		$char: "\E026";
	}
	@if $filename == profile {
		$char: "\E027";
	}
	@if $filename == question-circle {
		$char: "\E028";
	}
	@if $filename == review-1 {
		$char: "\E029";
	}
	@if $filename == rocket {
		$char: "\E02A";
	}
	@if $filename == search {
		$char: "\E02B";
	}
	@if $filename == seo {
		$char: "\E02C";
	}
	@if $filename == settings {
		$char: "\E02D";
	}
	@if $filename == shout {
		$char: "\E02E";
	}
	@if $filename == thumbs-up {
		$char: "\E02F";
	}
	@if $filename == timer {
		$char: "\E030";
	}
	@if $filename == trash {
		$char: "\E031";
	}
	@if $filename == twitter {
		$char: "\E032";
	}
	@if $filename == user {
		$char: "\E033";
	}
	@if $filename == wallet {
		$char: "\E034";
	}
	@if $filename == x {
		$char: "\E035";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-bottom {
	@include icon(arrow-bottom);

}
.icon-bar-chart {
	@include icon(bar-chart);

}
.icon-bell-alert {
	@include icon(bell-alert);

}
.icon-bell {
	@include icon(bell);

}
.icon-blogging {
	@include icon(blogging);

}
.icon-building {
	@include icon(building);

}
.icon-calendar-check {
	@include icon(calendar-check);

}
.icon-calendar-dates {
	@include icon(calendar-dates);

}
.icon-calendar-delete {
	@include icon(calendar-delete);

}
.icon-call-calling {
	@include icon(call-calling);

}
.icon-case {
	@include icon(case);

}
.icon-chat {
	@include icon(chat);

}
.icon-check-mark {
	@include icon(check-mark);

}
.icon-chevron-bottom {
	@include icon(chevron-bottom);

}
.icon-circle-checked {
	@include icon(circle-checked);

}
.icon-circle-x {
	@include icon(circle-x);

}
.icon-comment-delete {
	@include icon(comment-delete);

}
.icon-conversion {
	@include icon(conversion);

}
.icon-corner {
	@include icon(corner);

}
.icon-creditcard-face {
	@include icon(creditcard-face);

}
.icon-cup {
	@include icon(cup);

}
.icon-cv {
	@include icon(cv);

}
.icon-data {
	@include icon(data);

}
.icon-date {
	@include icon(date);

}
.icon-email-star {
	@include icon(email-star);

}
.icon-experience {
	@include icon(experience);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-file-text {
	@include icon(file-text);

}
.icon-flag {
	@include icon(flag);

}
.icon-linkedin {
	@include icon(linkedin);

}
.icon-mail {
	@include icon(mail);

}
.icon-market-1 {
	@include icon(market-1);

}
.icon-medal {
	@include icon(medal);

}
.icon-more {
	@include icon(more);

}
.icon-newspaper {
	@include icon(newspaper);

}
.icon-pencil-create {
	@include icon(pencil-create);

}
.icon-pin {
	@include icon(pin);

}
.icon-plus {
	@include icon(plus);

}
.icon-profile {
	@include icon(profile);

}
.icon-question-circle {
	@include icon(question-circle);

}
.icon-review-1 {
	@include icon(review-1);

}
.icon-rocket {
	@include icon(rocket);

}
.icon-search {
	@include icon(search);

}
.icon-seo {
	@include icon(seo);

}
.icon-settings {
	@include icon(settings);

}
.icon-shout {
	@include icon(shout);

}
.icon-thumbs-up {
	@include icon(thumbs-up);

}
.icon-timer {
	@include icon(timer);

}
.icon-trash {
	@include icon(trash);

}
.icon-twitter {
	@include icon(twitter);

}
.icon-user {
	@include icon(user);

}
.icon-wallet {
	@include icon(wallet);

}
.icon-x {
	@include icon(x);

}