&__action {
  display: flex;
  align-items: center;
  @include adaptive(1023) {
    justify-content: center;
    padding-top: 23px;
  }
  @include adaptive(767) {
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }

  > div {
    padding-left: 10px;
    @include adaptive(767) {
      width: 100%;
      padding-left: 0;
      padding-top: 10px;
    }

    &:first-of-type {
      padding-left: 0;
      padding-top: 0;
    }
  }

  &-search {
    position: relative;

    input {
      outline: none;
      width: 200px;
      height: 40px;
      padding-left: 20px;
      padding-right: 45px;
      box-shadow: none;
      border-radius: 4px;
      border: solid 1px #dfdfff;
      background-color: #f8f7ff;
      font-size: 14px;
      letter-spacing: 0.5px;
      @include inputPlaceholder {
        font-size: 14px;
        letter-spacing: 0.5px;
        color: #020d60;
      }
      @include adaptive(767) {
        width: 100%;
      }
    }

    button {
      outline: none;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 100%;
      box-shadow: none;
      border: none;
      background-color: transparent;
      border-radius: 0;

      .icon-font {
        color: #6364e9;
        font-size: 18px;
      }
    }
  }

  &-job,
  &-rejected {
    &-drop {
      z-index: 500;
      position: absolute;
      top: calc(100% + 30px);
      right: -30px;
      width: 350px;
      border-radius: 6px;
      background-color: #f8f7ff;
      @include adaptive(1279) {
        right: -15px;
      }
      @include adaptive(767) {
        top: calc(100% + 15px);
        right: 0;
        width: 100%;
      }

      &:before {
        content: '';
        position: absolute;
        top: -20px;
        right: 41px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #f8f7ff transparent;
        @include adaptive(767) {
          right: 50%;
          margin-right: -10px;
        }
      }
    }
  }

  &-job {
    position: relative;
    cursor: pointer;

    &-head {
      position: relative;
      display: flex;
      width: 195px;
      height: 40px;
      border-radius: 4px;
      border: solid 1px #dfdfff;
      background-color: #ffffff;
      @include adaptive(767) {
        width: 100%;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
        padding-right: 40px;
        font-size: 14px;
        line-height: 38px;
        letter-spacing: 0.5px;
        color: #020d60;
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 100%;
        border-radius: 4px;
        border-left: solid 1px #dfdfff;
        background-color: #f8f7ff;

        .icon-corner {
          color: #6364e9;
          font-size: 13px;
          transform: rotate(90deg);
        }
      }
    }

    &-title {
      padding: 40px 30px 10px;
      border-bottom: solid 1px #dfdfff;

      p {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #344563;
      }
    }

    &-content {
      padding: 20px 30px;
    }
  }

  &-rejected {
    position: relative;
    cursor: pointer;

    &-head {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 225px;
      height: 40px;
      border-radius: 4px;
      border: solid 1px rgba(9, 30, 66, 0.2);
      background-color: #f8f7ff;
      @include adaptive(767) {
        width: 100%;
      }

      > div {
        display: flex;
        align-items: center;
      }

      > * {
        margin-left: 2px;
        margin-right: 2px;
      }

      h3 {
        font-size: 14px;
        letter-spacing: 0.5px;
        color: #020d60;
        margin-right: 2px;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #b9bed3;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        margin-left: 2px;
        margin-right: 2px;
      }

      .icon-corner {
        color: #6364e9;
        font-size: 13px;
        transform: rotate(90deg);
      }
    }

    &-content {
      padding: 20px 30px;
      @include adaptive(767) {
        padding-left: 15px;
        padding-right: 15px;
      }

      &+.kanban__action-rejected-content {
        padding-top: 0;
      }

      .kanban__box {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    &-scroll {
      overflow-y: auto;
      max-height: 450px;
    }

    &-more {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      border-radius: 10px;
      box-shadow: inset 0 1px 0 0 #dfdfff;
      background-color: #ffffff;

      span {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #344563;
      }
    }

    .kanban__action-search {
      input {
        width: 100%;
      }
    }
  }
}